option(value="AFG") Afghanistan
option(value="ALB") Albania
option(value="DZA") Algeria
option(value="AND") Andorra
option(value="AGO") Angola
option(value="ATG") Antigua and Barbuda
option(value="ARG") Argentina
option(value="ARM") Armenia
option(value="AUS") Australia
option(value="AUT") Austria
option(value="AZE") Azerbaijan
option(value="BHS") Bahamas, The
option(value="BHR") Bahrain
option(value="BGD") Bangladesh
option(value="BRB") Barbados
option(value="BLR") Belarus
option(value="BEL") Belgium
option(value="BLZ") Belize
option(value="BEN") Benin
option(value="BTN") Bhutan
option(value="BOL") Bolivia
option(value="BIH") Bosnia and Herzegovina
option(value="BWA") Botswana
option(value="BRA") Brazil
option(value="BRN") Brunei
option(value="BGR") Bulgaria
option(value="BFA") Burkina Faso
option(value="BDI") Burundi
option(value="KHM") Cambodia
option(value="CMR") Cameroon
option(value="CAN") Canada
option(value="CPV") Cape Verde
option(value="CAF") Central African Republic
option(value="TCD") Chad
option(value="CHL") Chile
option(value="CHN") China, People's Republic of
option(value="COL") Colombia
option(value="COM") Comoros
option(value="COD") Congo, Democratic Republic of the (Congo – Kinshasa)
option(value="COG") Congo, Republic of the (Congo – Brazzaville)
option(value="CRI") Costa Rica
option(value="CIV") Cote d'Ivoire (Ivory Coast)
option(value="HRV") Croatia
option(value="CUB") Cuba
option(value="CYP") Cyprus
option(value="CZE") Czech Republic
option(value="DNK") Denmark
option(value="DJI") Djibouti
option(value="DMA") Dominica
option(value="DOM") Dominican Republic
option(value="ECU") Ecuador
option(value="EGY") Egypt
option(value="SLV") El Salvador
option(value="GNQ") Equatorial Guinea
option(value="ERI") Eritrea
option(value="EST") Estonia
option(value="ETH") Ethiopia
option(value="FJI") Fiji
option(value="FIN") Finland
option(value="FRA") France
option(value="GAB") Gabon
option(value="GMB") Gambia, The
option(value="GEO") Georgia
option(value="DEU") Germany
option(value="GHA") Ghana
option(value="GRC") Greece
option(value="GRD") Grenada
option(value="GTM") Guatemala
option(value="GIN") Guinea
option(value="GNB") Guinea-Bissau
option(value="GUY") Guyana
option(value="HTI") Haiti
option(value="HND") Honduras
option(value="HUN") Hungary
option(value="ISL") Iceland
option(value="IND") India
option(value="IDN") Indonesia
option(value="IRN") Iran
option(value="IRQ") Iraq
option(value="IRL") Ireland
option(value="ISR") Israel
option(value="ITA") Italy
option(value="JAM") Jamaica
option(value="JPN") Japan
option(value="JOR") Jordan
option(value="KAZ") Kazakhstan
option(value="KEN") Kenya
option(value="KIR") Kiribati
option(value="PRK") Korea, Democratic People's Republic of (North Korea)
option(value="KOR") Korea, Republic of  (South Korea)
option(value="KWT") Kuwait
option(value="KGZ") Kyrgyzstan
option(value="LAO") Laos
option(value="LVA") Latvia
option(value="LBN") Lebanon
option(value="LSO") Lesotho
option(value="LBR") Liberia
option(value="LBY") Libya
option(value="LIE") Liechtenstein
option(value="LTU") Lithuania
option(value="LUX") Luxembourg
option(value="MKD") Macedonia
option(value="MDG") Madagascar
option(value="MWI") Malawi
option(value="MYS") Malaysia
option(value="MDV") Maldives
option(value="MLI") Mali
option(value="MLT") Malta
option(value="MHL") Marshall Islands
option(value="MRT") Mauritania
option(value="MUS") Mauritius
option(value="MEX") Mexico
option(value="FSM") Micronesia
option(value="MDA") Moldova
option(value="MCO") Monaco
option(value="MNG") Mongolia
option(value="MNE") Montenegro
option(value="MAR") Morocco
option(value="MOZ") Mozambique
option(value="MMR") Myanmar (Burma)
option(value="NAM") Namibia
option(value="NRU") Nauru
option(value="NPL") Nepal
option(value="NLD") Netherlands
option(value="NZL") New Zealand
option(value="NIC") Nicaragua
option(value="NER") Niger
option(value="NGA") Nigeria
option(value="NOR") Norway
option(value="OMN") Oman
option(value="PAK") Pakistan
option(value="PLW") Palau
option(value="PAN") Panama
option(value="PNG") Papua New Guinea
option(value="PRY") Paraguay
option(value="PER") Peru
option(value="PHL") Philippines
option(value="POL") Poland
option(value="PRT") Portugal
option(value="QAT") Qatar
option(value="ROU") Romania
option(value="RUS") Russia
option(value="RWA") Rwanda
option(value="KNA") Saint Kitts and Nevis
option(value="LCA") Saint Lucia
option(value="VCT") Saint Vincent and the Grenadines
option(value="WSM") Samoa
option(value="SMR") San Marino
option(value="STP") Sao Tome and Principe
option(value="SAU") Saudi Arabia
option(value="SEN") Senegal
option(value="SRB") Serbia
option(value="SYC") Seychelles
option(value="SLE") Sierra Leone
option(value="SGP") Singapore
option(value="SVK") Slovakia
option(value="SVN") Slovenia
option(value="SLB") Solomon Islands
option(value="SOM") Somalia
option(value="ZAF") South Africa
option(value="ESP") Spain
option(value="LKA") Sri Lanka
option(value="SDN") Sudan
option(value="SUR") Suriname
option(value="SWZ") Swaziland
option(value="SWE") Sweden
option(value="CHE") Switzerland
option(value="SYR") Syria
option(value="TJK") Tajikistan
option(value="TZA") Tanzania
option(value="THA") Thailand
option(value="TLS") Timor-Leste (East Timor)
option(value="TGO") Togo
option(value="TON") Tonga
option(value="TTO") Trinidad and Tobago
option(value="TUN") Tunisia
option(value="TUR") Turkey
option(value="TKM") Turkmenistan
option(value="TUV") Tuvalu
option(value="UGA") Uganda
option(value="UKR") Ukraine
option(value="ARE") United Arab Emirates
option(value="GBR") United Kingdom
option(value="USA") United States
option(value="URY") Uruguay
option(value="UZB") Uzbekistan
option(value="VUT") Vanuatu
option(value="VAT") Vatican City
option(value="VEN") Venezuela
option(value="VNM") Vietnam
option(value="YEM") Yemen
option(value="ZMB") Zambia
option(value="ZWE") Zimbabwe
option(value="GEO") Abkhazia
option(value="TWN") China, Republic of (Taiwan)
option(value="AZE") Nagorno-Karabakh
option(value="CYP") Northern Cyprus
option(value="MDA") Pridnestrovie (Transnistria)
option(value="SOM") Somaliland
option(value="GEO") South Ossetia
option(value="AUS") Ashmore and Cartier Islands
option(value="CXR") Christmas Island
option(value="CCK") Cocos (Keeling) Islands
option(value="AUS") Coral Sea Islands
option(value="HMD") Heard Island and McDonald Islands
option(value="NFK") Norfolk Island
option(value="NCL") New Caledonia
option(value="PYF") French Polynesia
option(value="MYT") Mayotte
option(value="GLP") Saint Barthelemy
option(value="GLP") Saint Martin
option(value="SPM") Saint Pierre and Miquelon
option(value="WLF") Wallis and Futuna
option(value="ATF") French Southern and Antarctic Lands
option(value="PYF") Clipperton Island
option(value="BVT") Bouvet Island
option(value="COK") Cook Islands
option(value="NIU") Niue
option(value="TKL") Tokelau
option(value="GGY") Guernsey
option(value="IMN") Isle of Man
option(value="JEY") Jersey
option(value="AIA") Anguilla
option(value="BMU") Bermuda
option(value="IOT") British Indian Ocean Territory
//- option(value="") British Sovereign Base Areas
option(value="VGB") British Virgin Islands
option(value="CYM") Cayman Islands
option(value="FLK") Falkland Islands (Islas Malvinas)
option(value="GIB") Gibraltar
option(value="MSR") Montserrat
option(value="PCN") Pitcairn Islands
option(value="SHN") Saint Helena
option(value="SGS") South Georgia and the South Sandwich Islands
option(value="TCA") Turks and Caicos Islands
option(value="MNP") Northern Mariana Islands
option(value="PRI") Puerto Rico
option(value="ASM") American Samoa
option(value="UMI") Baker Island
option(value="GUM") Guam
option(value="UMI") Howland Island
option(value="UMI") Jarvis Island
option(value="UMI") Johnston Atoll
option(value="UMI") Kingman Reef
option(value="UMI") Midway Islands
option(value="UMI") Navassa Island
option(value="UMI") Palmyra Atoll
option(value="VIR") U.S. Virgin Islands
option(value="UMI") Wake Island
option(value="HKG") Hong Kong
option(value="MAC") Macau
option(value="FRO") Faroe Islands
option(value="GRL") Greenland
option(value="GUF") French Guiana
option(value="GLP") Guadeloupe
option(value="MTQ") Martinique
option(value="REU") Reunion
option(value="ALA") Aland
option(value="ABW") Aruba
option(value="ANT") Netherlands Antilles
option(value="SJM") Svalbard
option(value="ASC") Ascension
option(value="TAA") Tristan da Cunha
option(value="ATA") Antarctica
option(value="SCG") Kosovo
option(value="PSE") Palestinian Territories (Gaza Strip and West Bank)
option(value="ESH") Western Sahara
option(value="ATA") Australian Antarctic Territory
option(value="ATA") Ross Dependency
option(value="ATA") Peter I Island
option(value="ATA") Queen Maud Land
option(value="ATA") British Antarctic Territory