footer#page_foot.layout_960
	form
		select#translate
			option(value="english") English
			option(value="spanish") Spanishmwgo
	nav#site_map
		ul
			li 
				a(href="/about") About
			li 
				a(href="/faq") FAQs
			li 
				a(href="/contact") Contact
			li 
				a(href="/partners") Partners
			li 
				a(href="/blog") Blog
			li
				a(href="/resources") Resources
	nav.socials
		ul
			li 
				a(href="http://www.facebook.com/movingworlds").facebook Facebook
			li 
				a(href="http://twitter.com/markhoroszowski").twitter Twitter
			li 
				a(href="http://plus.google.com/u/0/108922624586110967899/posts").googleplus Google+
			li
				a(href="http://www.linkedin.com/company/movingworlds").linkedin LinkedIn
	p.disclaimer Copyright&copy; MovingWorlds 2012

if typeof modal !== 'undefined' && modal.length
	div.modal.autoplay
		header
			h2.center= modal[0]
			a(href="#").modal_close_btn X 
		div.modal_body
			h3= modal[1]
			!= modal[2]
