if typeof error !== "undefined" && error.length
	div#flash_message.error!= error
if typeof warning !== "undefined" && warning.length
	div#flash_message.warning!= warning
if typeof success !== "undefined" && success.length
	div#flash_message.success!= success

header#page_head
	div.layout_960

		if( typeof headtype !== 'undefined' && headtype === 'nonav' )
			a.logo.center(href='/') MovingWorlds

		else if(user && user.type !== 'invitee')
			a.logo(href='/landing') MovingWorlds
			nav
				ul
					li
						//- a(href='#') Get Verified
						li.subnav
							a(href='/landing')= user.first_name
							ul
									li: a(href='/experteer/' + user.id) Profile
									li: a(href='/settings') Settings
									//- li: a(href='/browse/friends') Friends
									li: a(href='/logout') Logout
									span.arrow
					li
						a(href='/search') Explore
					li
						form(action="/search", method="get")
							input(type='search', name='search')
							button(type='submit') search

		else
			a.logo(href='/') MovingWorlds
			nav.clearfix
				ul
					//- li: a#get_invite_btn(href='#') Get Invite
					li: a(href='/login') Login
					li: form(action="/explore", method="get")
						input(type='search', name='search')
						button(type='submit') search
