option( value="" ) -- Please select
option(	value="Accounting") Accounting
option( value="Airlines/Aviation") Airlines/Aviation
option( value="Alternative Dispute Resolution") Alternative Dispute Resolution
option( value="Alternative Medicine") Alternative Medicine
option( value="Animation") Animation
option( value="Apparel &amp; Fashion") Apparel &amp; Fashion
option( value="Architecture &amp; Planning") Architecture &amp; Planning
option( value="Arts &amp; Crafts") Arts &amp; Crafts
option( value="Automotive") Automotive
option( value="Aviation &amp; Aerospace") Aviation &amp; Aerospace
option( value="Banking") Banking
option( value="Biotechnology") Biotechnology
option( value="Broadcast Media") Broadcast Media
option( value="Building Materials") Building Materials
option( value="Business Supplies &amp; Equipment") Business Supplies &amp; Equipment
option( value="Capital Markets") Capital Markets
option( value="Chemicals") Chemicals
option( value="Civic &amp; Social Organization") Civic &amp; Social Organization
option( value="Civil Engineering") Civil Engineering
option( value="Commercial Real Estate") Commercial Real Estate
option( value="Computer &amp; Network Security") Computer &amp; Network Security
option( value="Computer Games") Computer Games
option( value="Computer Hardware") Computer Hardware
option( value="Computer Networking") Computer Networking
option( value="Computer Software") Computer Software
option( value="Construction") Construction
option( value="Consumer Electronics") Consumer Electronics
option( value="Consumer Goods") Consumer Goods
option( value="Consumer Services") Consumer Services
option( value="Cosmetics") Cosmetics
option( value="Dairy") Dairy
option( value="Defense &amp; Space") Defense &amp; Space
option( value="Design") Design
option( value="Education Management") Education Management
option( value="E-Learning") E-Learning
option( value="Electrical/Electronic Manufacturing") Electrical/Electronic Manufacturing
option( value="Entertainment") Entertainment
option( value="Environmental Services") Environmental Services
option( value="Events Services") Events Services
option( value="Executive Office") Executive Office
option( value="Facilities Services") Facilities Services
option( value="Farming") Farming
option( value="Financial Services") Financial Services
option( value="Fine Art") Fine Art
option( value="Fishery") Fishery
option( value="Food &amp; Beverages") Food &amp; Beverages
option( value="Food Production") Food Production
option( value="Fund-Raising") Fund-Raising
option( value="Furniture") Furniture
option( value="Gambling &amp; Casinos") Gambling &amp; Casinos
option( value="Glass, Ceramics &amp; Concrete") Glass, Ceramics &amp; Concrete
option( value="Government Administration") Government Administration
option( value="Government Relations") Government Relations
option( value="Graphic Design") Graphic Design
option( value="Health, Wellness &amp; Fitness") Health, Wellness &amp; Fitness
option( value="Higher Education") Higher Education
option( value="Hospital &amp; Health Care") Hospital &amp; Health Care
option( value="Hospitality") Hospitality
option( value="Human Resources") Human Resources
option( value="Import &amp; Export") Import &amp; Export
option( value="Individual &amp; Family Services") Individual &amp; Family Services
option( value="Industrial Automation") Industrial Automation
option( value="Information Services") Information Services
option( value="Information Technology &amp; Services") Information Technology &amp; Services
option( value="Insurance") Insurance
option( value="International Affairs") International Affairs
option( value="International Trade &amp; Development") International Trade &amp; Development
option( value="Internet") Internet
option( value="Investment Banking") Investment Banking
option( value="Investment Management") Investment Management
option( value="Judiciary") Judiciary
option( value="Law Enforcement") Law Enforcement
option( value="Law Practice") Law Practice
option( value="Legal Services") Legal Services
option( value="Legislative Office") Legislative Office
option( value="Leisure, Travel &amp; Tourism") Leisure, Travel &amp; Tourism
option( value="Libraries") Libraries
option( value="Logistics &amp; Supply Chain") Logistics &amp; Supply Chain
option( value="Luxury Goods &amp; Jewelry") Luxury Goods &amp; Jewelry
option( value="Machinery") Machinery
option( value="Management Consulting") Management Consulting
option( value="Maritime") Maritime
option( value="Marketing &amp; Advertising") Marketing &amp; Advertising
option( value="Market Research") Market Research
option( value="Mechanical or Industrial Engineering") Mechanical or Industrial Engineering
option( value="Media Production") Media Production
option( value="Medical Devices") Medical Devices
option( value="Medical Practice") Medical Practice
option( value="Mental Health Care") Mental Health Care
option( value="Military") Military
option( value="Mining &amp; Metals") Mining &amp; Metals
option( value="Motion Pictures &amp; Film") Motion Pictures &amp; Film
option( value="Museums &amp; Institutions") Museums &amp; Institutions
option( value="Music") Music
option( value="Nanotechnology") Nanotechnology
option( value="Newspapers") Newspapers
option( value="Nonprofit Organization Management") Nonprofit Organization Management
option( value="Oil &amp; Energy") Oil &amp; Energy
option( value="selected) Online Media"selected) Online Media
option( value="Outsourcing/Offshoring") Outsourcing/Offshoring
option( value="Package/Freight Delivery") Package/Freight Delivery
option( value="Packaging &amp; Containers") Packaging &amp; Containers
option( value="Paper &amp; Forest Products") Paper &amp; Forest Products
option( value="Performing Arts") Performing Arts
option( value="Pharmaceuticals") Pharmaceuticals
option( value="Philanthropy") Philanthropy
option( value="Photography") Photography
option( value="Plastics") Plastics
option( value="Political Organization") Political Organization
option( value="Primary/Secondary Education") Primary/Secondary Education
option( value="Printing") Printing
option( value="Professional Training &amp; Coaching") Professional Training &amp; Coaching
option( value="Program Development") Program Development
option( value="Public Policy") Public Policy
option( value="Public Relations &amp; Communications") Public Relations &amp; Communications
option( value="Public Safety") Public Safety
option( value="Publishing") Publishing
option( value="Railroad Manufacture") Railroad Manufacture
option( value="Ranching") Ranching
option( value="Real Estate") Real Estate
option( value="Recreational Facilities &amp; Services") Recreational Facilities &amp; Services
option( value="Religious Institutions") Religious Institutions
option( value="Renewables &amp; Environment") Renewables &amp; Environment
option( value="Research") Research
option( value="Restaurants") Restaurants
option( value="Retail") Retail
option( value="Security &amp; Investigations") Security &amp; Investigations
option( value="Semiconductors") Semiconductors
option( value="Shipbuilding") Shipbuilding
option( value="Sporting Goods") Sporting Goods
option( value="Sports") Sports
option( value="Staffing &amp; Recruiting") Staffing &amp; Recruiting
option( value="Supermarkets") Supermarkets
option( value="Telecommunications") Telecommunications
option( value="Textiles") Textiles
option( value="Think Tanks") Think Tanks
option( value="Tobacco") Tobacco
option( value="Translation &amp; Localization") Translation &amp; Localization
option( value="Transportation/Trucking/Railroad") Transportation/Trucking/Railroad
option( value="Utilities") Utilities
option( value="Venture Capital &amp; Private Equity") Venture Capital &amp; Private Equity
option( value="Veterinary") Veterinary
option( value="Warehousing") Warehousing
option( value="Wholesale") Wholesale
option( value="Wine &amp; Spirits") Wine &amp; Spirits
option( value="Wireless") Wireless
option( value="Writing &amp; Editing") Writing &amp; Editing