- var messages = flash()
each val, key in messages
  div.modal(role='dialog', id='flash_message') 
    div.modal_body(class=key)!=val
header#page_head
  div.layout_960    
    if (typeof headtype !== 'undefined' && headtype === 'nonav')
      a.logo.center(href='/') MovingWorlds
    else if user.loggedIn
      div(id='setup-menu', class='dropdown dropdown-tip')
        ul.dropdown-menu
          li: a(href='/landing') Home
          li: a(href='/setup/basic') Basic Info
          if (user.model === 'experteer')    
            li: a(href='/setup/preferences') Experteering Preferences
            li: a(href='/setup/skills') Professional Skills
            li: a(href='/setup/plan') Plan & Payment Info
          if (user.model === 'organization') 
            li: a(href='/setup/company') Company Info
            li: a(href='/opportunity') Add Opportunity
            li: a(href='/setup/review') Account Review

          li: a#change-password(href='#') Change Password
          li: a(href='/profile/' + user.id) Profile
          li: &nbsp;
          li: a(href='/logout') Logout    
      a.logo(href='/landing') MovingWorlds
      nav
        ul
          li.subnav: a(href='/profile/' + user.id)= user.name
          li: a(data-dropdown='#setup-menu').chunky_btn: i.user_icn
          if (typeof search_str === 'undefined' || search_str.length === 0)
            if (user.model === 'organization')
              li
                form(action='/search/experteer', method='get')
                  input(type='search', name='q')
                  button(type='submit') search
            if (user.model === 'experteer')
              li
                form(action='/search/opportunity', method='get')
                  input(type='search', name='q')
                  button(type='submit') search
    else
      a.logo(href='/') MovingWorlds
      nav.clearfix
        ul
          li: a(href='/login') Login
          li
            form(action='/search/opportunity', method='get')
              input(type='search', name='q')
              button(type='submit') search

div#password-form.hidden.modal(role='dialog')
  header
    h2 Change password
  div.modal_body 
    form(action='/setup', method='post')
      ul
        //- li Old password
        li: input(type='password', name='password', placeholder='Old password')
        //- li New password
        li: input(type='password', name='newpass', placeholder='New password')
        //- li Confirm
        li: input(type='password', name='confirm', placeholder='Confirm')
        li: button.big.smooth_btn(type='submit') Save
