extends ../content-page

block header
	h1 About
	.pure-u-1-3.image
		img(src="https://moving_worlds.s3.amazonaws.com/75e80c8b7a2f288a86fc65a535b18e6a.jpg", alt="Moving Worlds")
	.pure-u-2-3.content
		h2 MovingWorlds is building a better world and we invite you to join us.
			h3 Our Two-tiered Mission:
			ol
				li Accelerate the impact of social impact organizations around the world by addressing the 'talent gap'
				li Connect people to life-enriching experiences that help build a better world

block contents
	.section
		h2 What We Do
		h3 MovingWorlds connects people that want to change the world with organizations that are changing it.
		p Our Global Experteering Network empowers people to donate their expertise to social impact organizations abroad: accelerating social progress while creating life-enriching experiences - something we call Experteering.
		p MovingWorlds works like a dating site. Professionals and organizations create profiles, and then MovingWorlds suggests matches. It then provides guidance to help make sure the matches are safe and high quality. If you want to learn more, please review our 
			a(href="/resources") resources
			| , and also read our 
			a(href="/faq") FAQs
			| .
		p In short, we help people find the best place to have a life-enriching experience, while helping organizations find the right talent to address specific business challenges (for free).
		p Please visit our 
			a(href="/services") Services 
			| page for a full list of what we do and don't do.

	.section
		.pure-u-3-4
			h2 Why We Started
			h3 Human capital will soon rival – and may even surpass – financial capital as the critical economic engine of the future.
			p After over 15 years of collective experience supporting NGOs, school systems, social enterprises and other social impact organizations with fundraising and income development strategies, we learned the power that a little expertise can have to accelerate progress and impact.
			p In 2011, when the World Economic Forum published a report stating that beyond access to capital, access to talent is the second biggest barrier to progress, we created MovingWorlds to help unleash talent for global good. According to the World Economic Forum:
			p The scope of the challenge is so broad that no single stakeholder can solve it alone. Education institutions, business, governments and non-governmental organizations must come together to propose new frameworks and solutions that will create a new talent environment, suitable for the era of workforce scarcity and balancing the needs of both developed and developing economies.
		.pure-u-1-4
			img(src="https://moving_worlds.s3.amazonaws.com/56127fa8a79fb445c823bb975567f548.png")

	.section	
		.pure-u-1-2
			h2 Our Commitment
			p Endlessly strive to better connect safe, high-impact, and innovative social impact organizations to highly-skilled and motivated professionals.
		.pure-u-1-2
			h2 Join The Movement
			p We hope you’ll join us in accelerating social impact around the world. In the meantime, you can learn more about MovingWorlds by:
			ul.unstyled.compact
				li.pure-u-1-2 Following our 
					a(href="/blog") blog
				li.pure-u-1-2 Subscribing for 
					a(href="http://movingworlds.us2.list-manage.com/subscribe?u=1668b5879fa0340b704fa2a0b&id=1dc477ca61") email updates
				li.pure-u-1-2 Reading our 
					a(href="/faq") FAQs
				li.pure-u-1-2 Liking us on 
					a(href="http://www.facebook.com/movingworlds") Facebook
				li.pure-u-1-2 Connecting with us on 
					a(href="https://twitter.com/Experteering") Twitter
				li.pure-u-1-2 Finding us on 
					a(href="http://www.linkedin.com/company/movingworlds") LinkedIn
				li Contacting us by email: 
					a(href="mailto:info@movingworlds.org") info@movingworlds.org
