extends ../content-page

block header
	h1 Contact
	.pure-u-1-2
		h3 For questions, comments, concerns, inquiries, and/or words of wisdom, please don’t hesitate to contact us via email.
		p.center
			a.smooth_btn(href="mailto:info@movingworlds.org?subject=MovingWorlds%20inquiry") 
				i.icon-email
				| info@movingworlds.org
	.pure-u-1-2
		p If you have questions, make sure to 
			a(href="/faq") review our FAQs
			|  first.
		p Check out our 
			a(href="/blog") Blog
			|  for exciting updates, testimonials, and news.
		p Make sure to follow us on 
			a(href="http://www.twitter.com/Experteering") Twitter
			|  and 
			a(href="http://www.facebook.com/MovingWorlds") Facebook
			| .
