extends ../content-page

block header
	h1 FAQs
	.pure-u-1-2
		h3
			ul.unstyled.compact.questions
				li: a(href="#what-is-experteering") What is Experteering?
				li: a(href="#why-focus-on-professional-skills") Why focus on professional skills?
				li: a(href="#services") What do you do and what don't you do? What are your services?
				li: a(href="#why-is-it-invite-only") Why is it invite-only?
				li: a(href="#should-i-tell-my-friends") Should I tell my friends?
				li: a(href="#how-much-does-it-cost") How much does it cost?
				li: a(href="#how-is-the-fee-used") How is the money used?
	.pure-u-1-2
		h3
			ul.unstyled.compact.questions
				li: a(href="#why-does-it-cost-money-for-professionals") Why does MovingWorlds cost money for professinoals?
				li: a(href="#does-experteering-cost-me-money") Does Experteering cost me money? Or can I make money?
				li: a(href="#how-do-i-get-matched") How do I get matched?
				li: a(href="#if-i-want-to-go-experteering-is-my-travel-covered") If I want to go Experteering, is my travel covered?
				li: a(href="#im-travelling-somewhere-is-it-safe") I’m traveling somewhere, is it safe?
				li: a(href="#what-kind-of-organization-is-movingworlds") What kind of organization is MovingWorlds?

block contents
	a#scrollTop.smooth_btn.gray(href="#top")
		i.arrow-up
		| top

	ul.unstyled.answers
		li#what-is-experteering
			h3 What is Experteering?
			p Experteering is a new movement building a better world. A combination of the worlds of “expertise” and “volunteering” it means to donate expertise for the purpose of accelerating impact.

		li#why-focus-on-professional-skills
			h3 Why Focus on Professional Skills?
			p Social enterprises (or any organization using business as a tool to drive sustainable progress) are considered the best drivers of economic, social, and environmental impact. However, according the to the World Economic Forum, lack of access to skilled talent is the biggest barrier - behind access to capital - to pulling communities and countries out of poverty.

		li#services
			h3 What do you do and what don't you do? What are your services?
			p MovingWorlds is just a matching site. For a full list of MovingWorls services, please visit our Services page.MovingWorlds is just a matching site. For a full list of MovingWorls services, please visit our 
				a(href="/services") Services 
				| page.

		li#why-is-it-invite-only
			h3 Why is it invite only?
			p People invite people they trust. One way we ensure that community is only filled by quality people and organizations is by having quality people and organizations invite their peers, colleagues, and friends.
			p So if you get in, invite people that can help make an impact. Meanwhile, we’ll do our best to manage the community to make sure there is always enough opportunities and people to make sure it adds value.

		li#should-i-tell-my-friends
			h3 Should I tell my friends?
			p Yes, but only if you think they’ll add value.

		li#how-much-does-it-cost
			h3 How much does it cost?
			p Annual membership to MovingWorlds costs $99 a year for professionals that want to Experteer. Premium memberships are also available.
			p Social impact organizations that are willing to host an Experteer can list their first opportunity for free.

		li#how-is-the-fee-used
			h3 How is the registration fee used?
			p We wish MovingWorlds was free but we haven’t found our sugar momma yet. But even if we had one, we would still charge a little bit to ensure that:
			ol
				li People who sign-up are committed so that we can ensure that all participate are high-quality, committed users
				li As a social enterprise ourselves, we can continue to grow, scale, and accelerate impact

		li#why-does-it-cost-money-for-professionals
			h3 Why does MovingWorlds cost money for professionals?
			p We wish MovingWorlds was free but we haven’t found our sugar momma yet. But even if we had one, we would still charge a little bit to ensure that:
			ol
				li People who sign-up are committed so that we can ensure that all participate are high-quality, committed users
				li As a social enterprise ourselves, we can continue to grow, scale, and accelerate impact

		li#does-experteering-cost-me-money
			h3 Does Experteering cost me money? Or can I make money?
			p Experteering is not designed to make money or cost money. An organization that hosts you is expected to offer you at least accommodation for free, but any compensation or covering of travel expenses beyond that is up to you and the organization. Please keep in mind that some organizations operating in impoverished areas might not have capital to provide free accommodations, especially if they average income is just over $li:per day. Trying to provide you reasonable accommodations would do more harm than good, and for this reason, it is common for Experteers to pay up to $30 a day to cover their living expenses - still much cheaper than any other volunteer placement agency. Meanwhile, some larger organizations have the capital to not only provide accommodations, but also some food.

		li#how-do-i-get-matched
			h3 How do I get matched?
			p We’re constantly working to find great opportunities with organizations that require expertise and skills from different locations around the world.
			p We then suggest opportunities that are most relevant to you. If you don’t like what we’re suggesting, keep in mind that you can also search proactively to find the opportunity that is right for you.

		li#if-i-want-to-go-experteering-is-my-travel-covered
			h3 If I want to go Experteering, is my travel covered?
			p In principle no. All hosts are asked to cover your local accommodation while you are experteering. However some hosts offer additional benefits such as travel or other compensation, while others are unable to provide anything. You can search by this criteria if this is really important for you.

		li#im-travelling-somewhere-is-it-safe
			h3 I'm travelling somewhere. Is it safe?
			p We don’t make guarantees for the safety of countries of companies, which is why we recommend you have detailed conversations with the organization you select. And of course, when travelling oversees, you should have travel insurance. And ALWAYS check the travel bureau of your country to determine if there are travel alerts, if you need a visa, and if you need any immunizations.

		li#what-kind-of-organization-is-movingworlds
			h3 What kind of organization is MovingWorlds?
			p We are legally a Social Purpose Corporation (SPC), meaning that we are a social enterprise that primarily exists for a social mission instead of optimizing shareholder value.
			p For more information about SPC and B-corporations check out 
				a(href="http://www.bcorporation.net/") B Labs 
				|  website.

		li#uh-oh
			h3 My question isn't answered here!
			p Well that isn't a question either. This is a non-exhaustive list of questions we are frequently asked. Please 
				a(href="mailto:info@movingworlds.org?subject=MovingWorlds%20Inquiry") email us
				|  with any and all questions and who knows, maybe it'll appear here one day!
