extends ../content-page

block header
	h1 Information for Hosting Organizations
		h2 What is an Experteer?
		h3 "Experteers" are professionals that want to donate their expertise to accelerate social impact.

block contents
	.section
		p MovingWorlds helps connect you and your organization directly to professionals from around the world who want to donate their expertise to your organization in exchange for free accommodation (or some other benefit which you can provide).
		p Experteers are eager to travel around the world in order to donate their knowledge and skills in a specific field towards causes they care about in places they want to visit.
		blockquote Our friends at the Inter American Development Bank used MovingWorlds to help setup a database for an impact investing conference.

	.section
		h2 Why not host an Experteer?
		p Social impact organizations around the world are using MovingWorlds to find expertise to help overcome any business challenge or seize any opportunity.
		blockquote Eco Farms in Panama used MovingWorlds to connect to highly-skilled professionals that can design and develop a green research facility and lodge.

	.section
		h2 What to expect from an Experteer
		p It is important to understand that Experteers are donating their time and skills to your organization. As their work is voluntary, you will need to treat them differently from your other employees and partners. We mandate that you review our ‘Working With Experteers’ training.
		p For more information, we recommend this interesting article at 
			a(href="http://www.worldvolunteerweb.org/resources/how-to-guides/manage-volunteers/doc/understanding-volunteer-motivations.html") World Volunteer Web
			| .

	.section
		h2 What an Experteer expects from you
		p Most simply, an Experteer is making a sacrifice to travel around the world to help your organization. As such, the Experteer is hoping (and expecting) for a life-enriching experience that:
		ol
			li Is safe, unique, and engaging
			li Properly uses the Experteers skills to help support a social and/or environmental mission
			li Does not, any under circumstance, infringe on the Experteers personal rights, liberties, nor freedoms.

	.section
		h2 Managing Expectations with your Experteer
		p To fully comply with our terms of use, you and the Experteer must agree to the completed 
			a(href="https://moving_worlds.s3.amazonaws.com/5df16f1bc290a3ea8e7f8623a55132f5.pdf") Experteering Planning Guide
			| .

	.section
		h2 Ensuring Safety &amp; High-Impact Experteering Engagements
		p Safety is your responsibility. By using MovingWorlds, you agree to the 
			a(href="http://staging.movingworlds.org/terms-of-use/host-guarantee-of-conditions.html") Host’s Guarantee and Conditions
			| .
