extends ../content-page

block header
	h1.center Choose Your Own Adventure
	h3.center.nocase Pick a plan to start changing the world. You'll find a match, GUARANTEED!

	include ../partials/membership-plans

block contents
	include ../partials/membership-details
