extends ../content-page

block header
	h1.center Choose Your Own Adventure
	h3.center.nocase Pick a plan to start changing the world. You'll find a match, GUARANTEED!

	#plans.pure-g
		.pure-u-1-3
			.basic.plan
				header
					h2 $99
						small /YEAR
					h3 Basic Account
				.details
					ul
						li Full community features
						li Unlimited access to training and resources
					button.smooth_btn.green Get Access Now

		.pure-u-1-3
			.premium.plan
				header
					h2 $199
						small /YEAR
					h3 Premium Account
				.details
					ul
						li 60 days of premium travel insurance
						li 1 hour of Experteering coaching and matching consulting
						li Full community features
						li Unlimited access to training and resources
					.callout: h3
						i.icon-fire 
						| Most Popular!
					button.smooth_btn.blue Get Access Now

		.pure-u-1-3
			.plus.plan
				header
					h2 $699
						small /YEAR
					h3 Premium Plus Account
				.details
					ul
						li Personalized travel agent
						li 90 days of premium travel insurance
						li Unlimited Experteering coaching and premium concierge service
						li Full community features
						li Unlimited access to training and resources
					button.smooth_btn.green Get Access Now

		.pure-u-1.ribbon
				i.icon-key.icon-3x.icon-blue.pull-left
				h3 The MovingWorlds Guarantee:
				strong We GUARANTEE you will find an opportunity to donate your expertise that you'll love, or your money back!

block contents
	.section.pure-u-1
		.pure-u-4-5.middle
			.row-icon
				.icon: .icon-stack.icon-4x
					i.icon-certificate.icon-stack-base.icon-blue
					i.icon-lightbulb.icon-light
				.content
					h2 All Memberships include:
					h3: ul.cozy
						li Unlimited access to all organizations and Experteers for 1 year
						li Unlimited matches to volunteer your expertise overseas

	.section.pure-u-1
		.pure-u-1-2
			.row-icon
				.icon-question-sign.icon-4x.icon-gray.icon
				.content
					h2 Why does this cost money?
					p Your sign-up fee allows us to verify that you and all organizations are real, legal entities. It also helps cover the operational costs of supporting a global movement.
		.pure-u-1-2
			.row-icon
				.icon-lock.icon-4x.icon-gray.icon
				.content
					h2 Safe, secure, and risk-free
					p Our databases are managed by 
						a(href="http://aws.amazon.com", target="_blank") Amazon Web Services
						|  and our payment is handled by 
						a(href="http://www.stripe.com", target="_blank") Stripe
						| . Both are guaranteed to be safe and secure. And if you don't find a match, we'll refund you the money and you can delete your account at any time.
