extends ../content-page

block header
	h1 Resources
	.pure-u-1-3.image
		img(src="https://moving_worlds.s3.amazonaws.com/75e80c8b7a2f288a86fc65a535b18e6a.jpg", alt="Moving Worlds")
	.pure-u-2-3.content
		h2 Your One-Stop-Shop for Experteering Knowledge
		h3 We’re committed to giving you the tools, information, and resources to make high-impact, safe, and world-changing Experteering engagements. 

block contents
	.pure-u-1-2
		h2 For Experteers
		p If you are a person looking to donate your expertise, then please review the following.
		ol.compact
			li: a(href="/resources/experteers") Information for Experteers
			li Training for Experteers (coming soon)
			li: a(href="https://moving_worlds.s3.amazonaws.com/5df16f1bc290a3ea8e7f8623a55132f5.pdf") Experteer Planning Guide
			li: a(href="https://moving_worlds.s3.amazonaws.com/61c0bd0e5df3152ac830250629f33c74.pdf") Experteering Guide and Manifesto
			li Travel guides and tips (coming soon)
	.pure-u-1-2
		h2 For Organizations
		p If you are an organization looking for help from a professional that will donate their expertise to your case, then please review the following.
		ol.compact
			li: a(href="/resources/organizations") Information for Hosting Organizations
			li: a(href="/terms-of-use/host-guarantee-of-conditions") Hosting Guarantee of Conditions
			li: a(href="https://moving_worlds.s3.amazonaws.com/5df16f1bc290a3ea8e7f8623a55132f5.pdf") Experteering Planning Guide
			li Training for Hosts (COMING SOON!)
