html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;margin:0}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1}
html,body{height:100%}
html{overflow-y:scroll;-webkit-font-smoothing:antialiased;font-size:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font:14px Helvetica,Arial,sans-serif;line-height:1.4em;color:#404040;*font-size:small;*font:x-small;background-color:#f9f9f9;margin-bottom:30px}
p{font:14px Helvetica,Arial,sans-serif;line-height:1.5em;color:#404040}
p+p{margin-top:20px}
p img,figure{margin-bottom:20px}
figcaption{color:#999;font-size:.8em}
blockquote,q{quotes:none;font:italic 1em/1em Georgia serif;color:#444;font-size:16px}
blockquote:before,blockquote:after,q:before,q:after{content:none}
blockquote.pullquote_right,blockquote.pullquote_left{float:right;width:40%;margin:1.5em 1em .5em}
blockquote.pullquote_left{float:left}
ins{background-color:#ff9;color:#000;text-decoration:none}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
hr{display:block;height:1px;border:0;border-top:1px solid #bfbfbf;box-shadow:0 1px 0 #fff;margin:20px 0;padding:0}
small{font-size:75%}
strong{font-weight:bold}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
pre,code,kbd,samp{font-family:monospace,sans-serif}
pre{margin:10px 0;padding:10px;line-height:18px;background-color:#245b76;font-weight:bold;font-size:14px;color:#fff;white-space:pre-wrap;word-wrap:break-word;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
mark{background-color:#ff9;color:#444;font-style:italic;font-weight:bold}
::-moz-selection{background:#6cc2e9;color:#245b76;text-shadow:none}
::selection{background:#6cc2e9;color:#245b76;text-shadow:none}
h1,h2,h3,h4,h5,h6{font-family:"Lato",Helvetica,Arial,sans-serif;font-weight:700;text-transform:uppercase;color:#245b75;margin-bottom:.2em;text-shadow:0 1px 0 #fff}
h1{font-size:23px;line-height:1;margin-bottom:.5em;font-weight:900;color:#808080;padding-bottom:5px;border-bottom:1px solid #bfbfbf;box-shadow:0 1px 0 #fff}
h1 em{font-style:normal;color:#245b75}
h2{font-size:19px}
h3{font-size:17px}
h4{font-size:14px}
h5{font-size:11px}
h6{font-size:9px}
hgroup{margin-bottom:.2em}
hgroup h1,hgroup h2,hgroup h3,hgroup h4,hgroup h5,hgroup h6{margin-bottom:0}
a,a:active{line-height:1em;color:#6cc2e9;text-decoration:underline;cursor:pointer;}
a.disabled,a:active.disabled{pointer-events:none;cursor:default}
a:hover{color:#e96c6c}
a:hover,a:active{outline:0}
a:link{-webkit-tap-highlight-color:#ff5e99}
ul,ol{margin:0 20px 20px 0;padding-left:1.5em}
ul{list-style-type:disc}
ol{list-style-type:decimal}
li ul,li ol{margin:0}
nav ul,ul.no_style{list-style:none;margin:0;padding:0}
nav ul,ul.no_style{margin-bottom:20px}
nav ul li{float:left}
menu ul{margin:0;list-style:none;}
menu ul li{margin-bottom:10px}
table{border-collapse:collapse;border-spacing:0}
table{font-size:inherit;font:100%}
th,td{padding:0;text-align:left;vertical-align:middle}
th{font-weight:bold}
td img{vertical-align:top}
form{margin:0;line-height:1em;}
form fieldset{margin:0 0 20px 0;font-size:14px;}
form fieldset legend{*margin-left:-7px}
form ul{list-style:none;margin:0;padding:0;}
form ul li{position:relative;min-height:45px;display:block;margin-bottom:15px;clear:both;}
form ul li ul li{min-height:100% !important;display:inline;float:left;clear:none}
form ul li ul li+li{margin-left:10px}
form label{display:block;margin-bottom:3px;font:700 11px "Lato",Helvetica,Arial,sans-serif;color:#808080;letter-spacing:1px;text-transform:uppercase;text-shadow:0 1px 0 #fff;vertical-align:bottom;}
form label a{color:#6cc2e9;margin:0;padding:0;line-height:5px !important;vertical-align:text-top}
form button,form input,form select,form textarea{font-family:Arial,sans-serif;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;outline:none}
form button,form input{line-height:normal;*overflow:visible}
form input[type="search"],form input[type="email"],form input[type="date"],form input[type="search"],form input[type="email"],form input[type="password"],form input[type="text"],form ul.tagit,form .ui-autocomplete-input,form textarea{margin:0;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;display:block;padding:8px 10px 6px;color:#505050;font-size:12px;font-weight:normal;box-shadow:0 1px 3px rgba(0,0,0,0.43) inset;border:none;border-radius:3px;background:#ddd;background:-moz-linear-gradient(top,#ddd 0%,#f0f0f0 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ddd),color-stop(100%,#f0f0f0));background:-webkit-linear-gradient(top,#ddd 0%,#f0f0f0 100%);background:-o-linear-gradient(top,#ddd 0%,#f0f0f0 100%);background:-ms-linear-gradient(top,#ddd 0%,#f0f0f0 100%);background:linear-gradient(top,#ddd 0%,#f0f0f0 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=#ddd, endColorstr=#f0f0f0,GradientType=0 );;}
form input[type="search"]:focus,form input[type="email"]:focus,form input[type="date"]:focus,form input[type="search"]:focus,form input[type="email"]:focus,form input[type="password"]:focus,form input[type="text"]:focus,form ul.tagit:focus,form .ui-autocomplete-input:focus,form textarea:focus{background:#e8e8e8;background:-moz-linear-gradient(top,#e8e8e8 0%,#fff 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8e8e8),color-stop(100%,#fff));background:-webkit-linear-gradient(top,#e8e8e8 0%,#fff 100%);background:-o-linear-gradient(top,#e8e8e8 0%,#fff 100%);background:-ms-linear-gradient(top,#e8e8e8 0%,#fff 100%);background:linear-gradient(top,#e8e8e8 0%,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=#e8e8e8, endColorstr=#fff,GradientType=0 );}
form input[type="search"].error,form input[type="email"].error,form input[type="date"].error,form input[type="search"].error,form input[type="email"].error,form input[type="password"].error,form input[type="text"].error,form ul.tagit.error,form .ui-autocomplete-input.error,form textarea.error,form input[type="search"].warning,form input[type="email"].warning,form input[type="date"].warning,form input[type="search"].warning,form input[type="email"].warning,form input[type="password"].warning,form input[type="text"].warning,form ul.tagit.warning,form .ui-autocomplete-input.warning,form textarea.warning,form input[type="search"].success,form input[type="email"].success,form input[type="date"].success,form input[type="search"].success,form input[type="email"].success,form input[type="password"].success,form input[type="text"].success,form ul.tagit.success,form .ui-autocomplete-input.success,form textarea.success{text-align:left !important}
form .half{width:49%;float:left;clear:none}
form .half+.half{margin-left:2%}
form input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
form input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
form select,form option{width:100%}
form textarea{min-height:101px}
form ::-webkit-input-placeholder{color:#bfbfbf}
form ::-moz-placeholder{color:#bfbfbf}
form input[type="radio"],form input[type="checkbox"]{box-sizing:border-box;position:absolute;opacity:0}
form input[type="radio"] + label,form input[type="radio"] + label a,form input[type="checkbox"] + label,form input[type="checkbox"] + label a{display:inline;line-height:21px;text-indent:5px}
form input[type="radio"] + label::before,form input[type="checkbox"] + label::before{content:"";display:inline-block;width:23px;height:18px;background:url("/images/spt_form.png") no-repeat 0 0}
form input[type="radio"]:focus + label,form input[type="checkbox"]:focus + label{outline:dotted 1px}
form input[type="radio"]:disabled + label,form input[type="checkbox"]:disabled + label{opacity:.5;cursor:default}
form input[type="checkbox"]:not(:checked):hover + label::before{background-position:0 -18px}
form input[type="checkbox"]:checked + label::before{background-position:0 -36px}
form input[type="radio"] + label::before{background-position:-23px 0}
form input[type="radio"]:not(:checked):hover + label::before{background-position:-23px -18px}
form input[type="radio"]:checked + label::before{background-position:-23px -36px}
form button,form input[type="button"],form input[type="reset"],form input[type="submit"]{cursor:pointer;-webkit-appearance:button}
form button::-moz-focus-inner,form input::-moz-focus-inner{border:0;padding:0}
form .form_help,form label span{margin:5px 0 0 0;font-size:12px;color:#999;text-transform:none}
form label span{text-shadow:none;font:11px Arial,sans-serif;float:right;margin:0;text-align:right}
.uploadifive-button{display:inline-block;height:26px !important;border:1px solid #bfbfbf;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff url("/images/bg_chunky_btn.png") 0 0 repeat-x;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.55);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.55);box-shadow:0 1px 1px rgba(0,0,0,0.55);font-family:"Lato",Helvetica,Arial,sans-serif;font-weight:700;text-transform:uppercase;text-shadow:0 1px 0 #fff;font-size:11px;color:#808080;letter-spacing:1px;text-decoration:none;max-height:28px;cursor:pointer;}
.uploadifive-button:hover{background-position:0 -26px;color:#808080;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.45) inset , 0 1px 0 #fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.45) inset , 0 1px 0 #fff;box-shadow:0 1px 3px rgba(0,0,0,0.45) inset , 0 1px 0 #fff}
.uploadifive-queue-item{background-color:#f5f5f5;border-bottom:1px dotted #d5d5d5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font:12px Arial,Helvetica,Sans-serif;margin-top:3px;padding:15px;}
.uploadifive-queue-item .close{background:url("uploadifive-cancel.png") 0 0 no-repeat;display:block;float:right;height:16px;text-indent:-9999px;width:16px}
.uploadifive-queue-item .progress{border:1px solid #d0d0d0;height:3px;margin-top:5px;width:100%}
.uploadifive-queue-item .progress-bar{background-color:#0072bc;height:3px;width:0}
.datepicker,.liveDatepicker{position:relative;}
.datepicker .ui-datepicker-trigger,.liveDatepicker .ui-datepicker-trigger{position:absolute;bottom:0;right:-2px}
.slider_container label{margin-bottom:10px;}
.slider_container label span{float:right;font-size:14px;font-weight:900;color:#6cc2e9}
.slider_container .ui-slider,.slider_container .ui-slider-handle{cursor:pointer;outline:none}
.slider_container .ui-slider{position:relative;height:8px;width:99%;background-color:#eaeaea;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.4) inset;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4) inset;box-shadow:0 1px 3px rgba(0,0,0,0.4) inset;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.slider_container .ui-slider-handle{margin-left:-5px;position:absolute;top:-4px;right:0;z-index:2;background:url("/images/spt_form.png") no-repeat -24px 0;width:17px;height:18px;}
.slider_container .ui-slider-handle:hover,.slider_container .ui-slider-handle:active{background-position:-24px -18px}
.slider_container .ui-slider-range{background-color:#d3f1ff;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.4) inset;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4) inset;box-shadow:0 1px 3px rgba(0,0,0,0.4) inset;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;height:8px}
ul.tagit{padding:2px 5px !important;overflow:auto;margin-left:inherit;margin-right:inherit;min-height:28px;}
ul.tagit li{display:block;float:left;margin:0}
ul.tagit li.tagit-new{padding:.25em 4px .25em 0}
ul.tagit li.tagit-choice{position:relative;height:22px;margin:1px 25px 0 0;padding-left:15px;background:transparent url("/images/bg_tag.png") 0 0 no-repeat;font:12px Arial,sans-serif;color:#666;}
ul.tagit li.tagit-choice .tagit-label{height:22px;line-height:20px;display:inline-block;cursor:pointer;text-decoration:none}
ul.tagit li.tagit-choice a.close{display:block;position:absolute;width:20px;height:22px;right:-20px;top:0;background:transparent url("/images/bg_tag.png") right 0 no-repeat;text-align:center;text-decoration:none;color:#666;font-weight:900;cursor:pointer;border:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;padding:0;}
ul.tagit li.tagit-choice a.close:hover{color:#6cc2e9}
ul.tagit li.tagit-choice a.close .text-icon{font-size:15px;line-height:21px}
ul.tagit li.tagit-choice input{display:block;float:left}
ul.tagit input[type="text"]{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background:#e96c6c;border:none;margin:0;padding:3px 0 0;width:inherit;background-color:inherit;outline:none}
.ui-autocomplete{-moz-box-shadow:0 3px 5px rgba(0,0,0,0.3);-webkit-box-shadow:0 3px 5px rgba(0,0,0,0.3);box-shadow:0 3px 5px rgba(0,0,0,0.3);list-style:none;padding:0;background-color:#fff;max-width:300px !important;max-height:200px;overflow-y:scroll;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;}
.ui-autocomplete .ui-menu-item+li.ui-menu-item{border-top:1px solid #bfbfbf}
.ui-autocomplete .ui-menu-item a{display:block;padding:5px 10px;text-transform:uppercase;text-decoration:none;color:#666;font:700 12px "Lato",Helvetica,Arial,sans-serif}
.ui-autocomplete .ui-state-hover{background-color:#d3f1ff;color:#6cc2e9 !important}
.ui_combobox{display:block;position:relative;}
.ui_combobox .combo_trigger{position:absolute;top:0;right:-2px;display:block;width:33px;height:29px;background:url("/images/spt_form.png") no-repeat 0 -113px}
.experteering_icon{background:transparent url("/images/icn_experteering.png") 0 0 no-repeat;padding-left:30px;padding-top:2px;min-height:24px}
.opportunity_icon{background:transparent url("/images/icn_opportunity.png") 0 0 no-repeat;padding-left:30px;padding-top:2px;min-height:24px}
.url_link,.facebook_link,.google_plus_link,.linkedin_link,.twitter_link{display:inline-block;background:url("/images/spt_link_icons.png") 0 0 no-repeat;padding:2px 0 0 22px;height:18px}
.url_link{background-position:0 0}
.facebook_link{background-position:0 -25px}
.twitter_link{background-position:0 -52px}
.google_plus_link{background-position:0 -77px}
.linkedin_link{background-position:0 -103px}
.title_case{text-transform:capitalize}
.hidden{display:none}
.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}
.invisible{visibility:hidden}
.left{float:left}
.right{float:right}
.center{text-align:center}
.clear{clear:both}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
#blog{background:#fff url("/images/bg_blog.png") 0 0 repeat;}
#blog .layout{width:700px;margin:0 auto}
#blog header#page_head{position:relative;height:60px;margin:10px auto 30px;}
#blog header#page_head a#logo{display:block;width:289px;height:55px;margin-top:10px;background:url("/images/spt_blog.png") -5px -6px no-repeat;float:left}
#blog header#page_head nav#utility_nav{position:absolute;top:0;right:0;}
#blog header#page_head nav#utility_nav ul{list-style:none;}
#blog header#page_head nav#utility_nav ul li{float:left;}
#blog header#page_head nav#utility_nav ul li a{color:#808080;text-decoration:none;}
#blog header#page_head nav#utility_nav ul li a:hover{color:#6cc2e9}
#blog header#page_head form#search{position:absolute;bottom:0;right:0;width:345px;height:34px;}
#blog header#page_head form#search input[type="search"]{width:231px;height:18px;border:none;box-shadow:none;padding:8px 5px 8px 32px;margin:0;border-radius:0;background:url("/images/spt_blog.png") -303px -6px no-repeat}
#blog header#page_head form#search button{display:block;position:absolute;right:-1px;top:0;width:79px;height:34px;border:none;background:url("/images/spt_blog.png") -571px -6px no-repeat;color:dard_blue;font-weight:bold;font-family:"Lato",Helvetica,Arial,sans-serif;}
#blog header#page_head form#search button:hover{color:#6cc2e9}
#blog #posts,#blog #post{padding-bottom:30px;}
#blog #posts .post,#blog #post .post{position:relative;display:block;padding:30px;margin-bottom:50px;background-color:#fdfdfa;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-moz-box-shadow:0 0 5px rgba(0,0,0,0.13);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.13);box-shadow:0 0 5px rgba(0,0,0,0.13);}
#blog #posts .post time,#blog #post .post time{z-index:-1;position:absolute;left:-40px;top:30px;display:block;width:48px;height:65px;padding:20px 37px 0 0;background-color:#a8e04f;color:#fff;text-align:center;font-family:"Lato",Helvetica,Arial,sans-serif;font-weight:900;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;line-height:15px;}
#blog #posts .post time .month,#blog #post .post time .month,#blog #posts .post time .day,#blog #post .post time .day,#blog #posts .post time .year,#blog #post .post time .year{display:block;text-transform:uppercase}
#blog #posts .post time .month,#blog #post .post time .month{font-size:11px}
#blog #posts .post time .day,#blog #post .post time .day{font-size:21px}
#blog #posts .post time .year,#blog #post .post time .year{font-size:9px}
#blog #posts .post header,#blog #post .post header{border-top:4px double #c7c7c5;border-bottom:4px double #c7c7c5;padding:18px 0 16px;margin-bottom:30px;}
#blog #posts .post header h2,#blog #post .post header h2{font-family:'Alegreya',serif;font-size:30px;font-weight:400;text-transform:none;text-align:center;line-height:30px;}
#blog #posts .post header h2 a,#blog #post .post header h2 a{text-decoration:none;color:#245b76;line-height:0;}
#blog #posts .post header h2 a:hover,#blog #post .post header h2 a:hover{color:#6cc2e9}
#blog #posts .post section.post_body,#blog #post .post section.post_body{padding-bottom:30px}
#blog #posts .post section#signup_form,#blog #post .post section#signup_form{display:none;width:602px;height:78px;padding:20px;background:url("/images/spt_blog.png") -5px -146px no-repeat;margin-bottom:30px;}
#blog #posts .post section#signup_form h4,#blog #post .post section#signup_form h4{text-align:center;text-transform:none;margin-bottom:15px}
#blog #posts .post section#signup_form input,#blog #post .post section#signup_form input{width:405px;height:35px;float:left;margin-right:10px}
#blog #posts .post section#signup_form button,#blog #post .post section#signup_form button{float:left;display:block;width:187px;height:36px;padding:0 0 0 20px;text-decoration:none;text-align:center;color:#245b76;font-family:"Lato",Helvetica,Arial,sans-serif;font-weight:900;text-shadow:0 0 1px #fff;border:none;background:url("/images/spt_blog.png") -202px -274px no-repeat;}
#blog #posts .post section#signup_form button:hover,#blog #post .post section#signup_form button:hover{color:#6cc2e9}
#blog #posts .post nav.pagination,#blog #post .post nav.pagination{margin-bottom:30px;}
#blog #posts .post nav.pagination li.next,#blog #post .post nav.pagination li.next{float:right}
#blog #posts .post nav.pagination a,#blog #post .post nav.pagination a{text-decoration:none;color:#808080;}
#blog #posts .post nav.pagination a:hover,#blog #post .post nav.pagination a:hover{color:#6cc2e9}
#blog #posts .post nav.post_options,#blog #post .post nav.post_options{margin:0;}
#blog #posts .post nav.post_options a.more,#blog #post .post nav.post_options a.more{float:left;display:block;width:175px;height:27px;padding:10px 0 0 20px;text-decoration:none;text-align:center;color:#245b76;font-family:"Lato",Helvetica,Arial,sans-serif;font-weight:900;text-shadow:0 0 1px #fff;background:url("/images/spt_blog.png") 0 -274px no-repeat;}
#blog #posts .post nav.post_options a.more:hover,#blog #post .post nav.post_options a.more:hover{color:#6cc2e9}
#blog #posts .post nav.post_options ul.socials li,#blog #post .post nav.post_options ul.socials li{width:100px;}
#blog #posts .post nav.post_options ul.socials li iframe,#blog #post .post nav.post_options ul.socials li iframe{width:100px !important}
#blog #posts .post nav.post_options ul.socials li+li,#blog #post .post nav.post_options ul.socials li+li{margin-left:10px}
#blog #posts .post nav.post_options ul.tags,#blog #post .post nav.post_options ul.tags{margin:0;float:right;max-width:415px;}
#blog #posts .post nav.post_options ul.tags li+li,#blog #post .post nav.post_options ul.tags li+li{margin-left:7px}
#blog #posts .post nav.post_options ul.tags li,#blog #post .post nav.post_options ul.tags li{background:url("/images/spt_blog.png") -519px -43px no-repeat;padding-left:11px;margin-bottom:7px;}
#blog #posts .post nav.post_options ul.tags li a,#blog #post .post nav.post_options ul.tags li a{display:block;height:18px;float:right;padding:2px 10px 0;text-align:center;color:#fff;text-decoration:none;font-family:"Lato",Helvetica,Arial,sans-serif;font-weight:700;background-color:#ccc;-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0}
#blog #posts .post nav.post_options ul.tags li:hover,#blog #post .post nav.post_options ul.tags li:hover{background-position:-453px -43px;}
#blog #posts .post nav.post_options ul.tags li:hover a,#blog #post .post nav.post_options ul.tags li:hover a{background-color:#6cc2e9}
#blog #posts .post hr,#blog #post .post hr{border:none;border-bottom:4px double #c7c7c5;margin-bottom:0}
#blog #posts .post footer,#blog #post .post footer{position:absolute;left:-5px;bottom:-20px;width:710px;height:20px;background:url("/images/spt_blog.png") 0 -120px no-repeat}
#blog .arrow_icn{display:inline-block;width:11px;height:11px;background:url("/images/spt_blog.png") 0 0 no-repeat;vertical-align:baseline;margin-right:5px;}
#blog .arrow_icn.dark_blue_right{background-position:-306px -51px}
#blog .arrow_icn.dark_blue_left{background-position:-306px -51px}
#blog .arrow_icn.light_blue_right{background-position:-321px -51px;margin-left:5px}
#blog .arrow_icn.light_blue_left{background-position:-332px -51px;margin-right:5px}
#blog nav#socials{position:fixed;top:20px;right:20px;}
#blog nav#socials ul{list-style:none;}
#blog nav#socials ul li{display:block;float:left;clear:left;margin-bottom:10px;}
#blog nav#socials ul li a{text-indent:999px;display:block;width:56px;height:56px;background:url("/images/spt_blog.png") -720px -7px no-repeat;}
#blog nav#socials ul li a.facebook{background-position:-720px -7px;}
#blog nav#socials ul li a.facebook:hover{background-position:-778px -7px}
#blog nav#socials ul li a.twitter{background-position:-720px -70px;}
#blog nav#socials ul li a.twitter:hover{background-position:-778px -70px}
#blog nav#socials ul li a.googleplus{background-position:-720px -197px;}
#blog nav#socials ul li a.googleplus:hover{background-position:-778px -197px}
#blog nav#socials ul li a.linkedin{background-position:-720px -134px;}
#blog nav#socials ul li a.linkedin:hover{background-position:-778px -134px}
