
section#profile_status
  div(style='zoom:50%')
    -var avatar = user
    include avatar
  h3 &nbsp; #{user.name}
  if (user.city || user.country)
    p 
      | &nbsp; #{user.city}, #{user.country}
      br 
      small: a(href='#invite-colleagues') Invite colleagues

  if (user.completion < 0.98)
    div.completeness
      div.progress_bar
        p You're profile is 
          strong #{(user.completion * 100)} %  
          | complete 
      div.bar
        div.bar_inner(style="width:" + ( (user.completion * 100) + "%" ))


