extends layouts/layout

block append scripts
  script(src='/javascript/plugins/jquery.mw_ease.js')
  script(src='/javascript/plugins/jquery.mw_feature.js')
  script(src='/javascript/home.js')
  script
    featureData = !{JSON.stringify(featuredOpportunities)} 

block content

  section#feature.dotmap-bg
    div#dotmap
      h1 Travel and donate your skills abroad

  div.wrapper.clearfix
    div.layout_960.pure-g
      #invite_wrapper
        form#invite_form(action='/invite', method='post').validate
          label(for='email') Sign-up for an invite to MovingWorlds
          .field_wrap
            input(type='email', name='email', autocapitalize='off', autocorrect='off', placeholder='Email').required
            button#submit_btn(type='submit') Invite Me!
          p.form_help.center MovingWorlds is an invite only community. Submit your email and we’ll send you an invite as soon as we can.
        #alert.hidden
      .pure-u-1-2
        #intro_video!= video
      #welcome.pure-u-1-2
        h3.experteering_icon What is MovingWorlds?
        p This is more than a Global Experteering Network. It's a movement. It's an opportunity to use your skills to make the world a better place. Sign up for an invite. Create a profile. Find the best place to donate your expertise. Go Experteering. You will change the world, and the world will change you.
        p: a(href='/faq', title='learn more about experteering').chunky_btn Learn more about MovingWorlds
        div#welcome_bg_gfx
      #org_cta.pure-u-1.well
        .pure-u-1-2
          .opportunity_icon
            h3 Do you represent an Organization?
            | Find support for any business challenge, anywhere in the world.
        .pure-u-1-2
          a(href='/org', title='learn more about experteering').chunky_btn.btn-block.org Learn how Experteering can help your business
      nav#mw_steps.pure-u-1
        ul.step_icons
          li.invite_step
          li.arrow
          li.profile_step
          li.arrow
          li.match_step
          li.arrow
          li.impact_step
        ul
          li.invite_step
            div.icon
            hgroup
              h4 Step 1
              h5 Request an invite
            p To ensure community quality, MovingWorlds is invite only. Enter your email and we’ll send you an invite when the time is right.
          li.profile_step
            div.icon
            hgroup
              h4 Step 2
              h5 Create a Profile
            p   Once you get your invite, tell us about your skills, what causes you care about, and where in the world you want to help.
          li.match_step
            div.icon
            hgroup
              h4 Step 3
              h5 Find a Match
            p   We'll help you find the best opportunity for your skill set and travel desires. Then, like a dating site, guide you through a hosted conversation process to ensure safety and quality.
          li.impact_step
            div.icon
            hgroup
              h4 Step 4
              h5 Make an Impact
            p Go experteering and make an impact. Use the MovingWorlds community and library of resources for ongoing support as you change the world.
        br.clear
