extends layouts/layout

block append scripts
  script(src='https://checkout.stripe.com/v2/checkout.js')
  script(src='/javascript/setup.js')
  script(src='/javascript/setup-payment.js')

block content

  div.layout_960
    
    include partials/account-nav

    section.stack_960
      header
        h2 Step 4: Plan &amp; Payment Information
      section(class="stack_body clearfix step3")
        include partials/membership-plans
      footer
      section
        include partials/membership-details