option(value='') 
option(value='general') General / operational management
option(value='financial') Financial planning / fundraising
option(value='communications') Communications / Social Media
option(value='ict') ICT / Website building
option(value='sales') Sales & Marketing
option(value='legal') Legal advice
option(value='product') Specialty product development
option(value='engineering') Engineering (mechanical / electrical)
option(value='energy') Renewable Energy / Water supply systems
option(value='gardening') Gardening / Farming
option(value='construction') Construction / Building
option(value='cooking') Cooking / Food Management
option(value='maintenance') General maintenance
option(value='tourist') Tourist management
option(value='animal') Animal care
option(value='charity') Charity work
option(value='art') Art / special projects
option(value='language') Language Teaching
option(value='teaching') Teaching general
option(value='other') Other