div.widget.experteer(class=className)
	header
		div.icon
		h3= experteer.fullName()
	section.widget_body
		div.avatar
			.av_img_container
				if experteer.img || experteer.type
					img(src= experteer.img || "/images/icn_avatar_"+experteer.type+".png", width="80", height="80")
				if experteer.verified
					div.verified
		ul
			if(experteer.professions)
				li
					h3=experteer.professions[0]
			li 
				strong= experteer.city+", "+experteer.country
			if(experteer.birthday)
				li 
					strong Age: 
					=experteer.age()
		nav
			ul
				li
					a(href="/experteer/"+experteer.id).chunky_btn Details