li.opportunity
	// !=partial('partials/avatar', { img:se.avatar, verified: se.verified, type:'se' })
	ul.opp_info
		li
			hgroup
				h3= se.opportunities[0].title
				h4= se.name
		li= se.opportunities[0].city+", "+se.opportunities[0].country
		li
			strong deadline: 
			=moment( se.opportunities[0].deadline ).format('MMMM D, YYYY')
	a.x_btn Delete