li.opportunity
	// !=partial('partials/avatar', { img:org.avatar, verified: org.verified, type:'org' })
	ul.opp_info
		li
			hgroup
				h3= org.opportunities[0].title
				h4= org.name
		li= org.opportunities[0].city+", "+org.opportunities[0].country
		li
			strong deadline: 
			=moment( org.opportunities[0].deadline ).format('MMMM D, YYYY')
	a.x_btn Delete
