#{usr}
h2= usr.first_name +" "+ usr.last_name
//- br
//- br
//- ul
//- 	li
//- 		img(src=user.avatar, width="70", height="70")
//- 	li 
//- 		strong email: 
//- 		a(href="mailto:"+user.email)= user.email
//- 	li 
//- 		strong City: 
//- 		=user.city
//- 	li 
//- 		strong Country: 
//- 		=user.country
//- 	li
//- 		strong Type: 
//- 		=user.type