footer#page_foot.layout_960
	form
		select#translate
			option(value="english") English
			option(value="spanish") Spanish
	nav#site_map
		if siblings.length
			ul
				each sibling in _.sortBy(siblings, function(sib){ return sib.weight })
					li
						a(href=sibling.prettyUrl)=sibling.title
	nav.socials
		ul
			li 
				a(href="http://www.facebook.com/movingworlds").facebook Facebook
			li 
				a(href="http://twitter.com/markhoroszowski").twitter Twitter
			li 
				a(href="http://plus.google.com/u/0/108922624586110967899/posts").googleplus Google+
			li
				a(href="http://www.linkedin.com/company/movingworlds").linkedin LinkedIn
	p.disclaimer Copyright&copy; MovingWorlds 2012