button.active,
button:active,
.btn.active, 
.btn:active,
.smooth_btn.active, 
.smooth_btn:active 
	background-image: none
	outline: 0
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)

button.disabled,
button[disabled],
.btn.disabled, 
.btn[disabled],
.smooth_btn.disabled,
.smooth_btn[disabled],
.chunky_btn.disabled,
.chunky_btn[disabled]
	cursor: default
	background-image: none
	opacity: 0.8
	box-shadow: none

// SMOOTH BUTTONS
.smooth_btn
	highlight(.75)
	// bxsh(0 1px 1px rgba(0,0,0,.55))
	display: inline-block;
	bdrz(5px)
	background-color: blue
	border: 1px solid #3c89ad
	font-family: default_fonts
	font-weight: 900
	text-decoration: none
	text-transform: uppercase
	text-shadow: 0 1px 0 rgba(0,0,0,.30)
	color: white
	padding: 12px 20px 10px
	cursor: pointer
	line-height: 1em
	&:hover
		color: #f0f0f0
		background: blue_mid
		bxsh(0 3px 6px rgba(0,0,0,.3) inset\, 0 1px 0 #fff)
		padding: 13px 20px 9px
		text-decoration: none
	&.round
		bdrz(30px)
	&.big
		padding: 12px 30px 10px !important
		height: auto
	&.gray
		background-color: #ebebeb
		border: 1px solid gray
		color: gray
		text-shadow: none
		&:hover
			color: dark_gray
			background-color: gray
	&.green
		background: green
		border: 1px solid green_dark
		&:hover
			background: green_mid
	&.red
		grad(#e96c6c, #d15656)
		border: 1px solid dark_red
		&:hover
			background-color: #d15656

// CHUNKY BUTTONS
.chunky_btn
	display: inline-block
	padding: 7px 15px
	border: 1px solid #bfbfbf
	bdrz(3px)
	background: #FFF url('/images/bg_chunky_btn.png') 0 0 repeat-x
	bxsh(0 1px 1px rgba(0,0,0,.55))
	font-family: default_fonts
	font-weight: 700
	text-decoration: none
	text-transform: uppercase
	text-shadow: 0 1px 0 #FFFFFF
	font-size: 12px
	color: #808080
	letter-spacing: 1px
	cursor: pointer
	line-height: 1em
	&.small
		padding: 4px 8px 3px !important
		font-size: 9px
		height: auto
	&.round
		bdrz(30px)
	&.select
		&:after
			content: url('/images/icn_select_arrow.png');
			width: 12px;
			height: 15px;
			overflow:hidden
			margin-left: 5px
	&.blue
		background-position: 0 -52px
		border-color: #368bb2
		color: #FFF
		text-shadow: 0 1px 0 #226889
		&:hover, &.on
			background-position: 0 -78px
			padding: 8px 15px 6px
			color: #e5e5e5
			bxsh(0 1px 3px #226889 inset\, 0 1px 0px #FFFFFF)
	&:hover, &.on 
		text-decoration: none
		background-position: 0 -26px
		padding: 8px 15px 6px
		color: #808080
		bxsh(0 1px 3px rgba(0,0,0,.45) inset\, 0 1px 0px #FFFFFF)

.btn-block
	display: block
	text-align: center

.x_btn
	text-indent: -9999px
	display: block
	width: 18px
	height: 19px
	background: transparent url('/images/spt_small_btns.png') 0 0 no-repeat
	&:hover
		background-position: 0 -19px

.linkedin_connect, 
.google_plus_connect, 
.facebook_connect
	display: block
	width: 189px
	height: 30px
	background: transparent url('/images/spt_social_connect.png') 0 0 no-repeat
	text-indent: -9999px
	cursor: pointer

.google_plus_connect
	background-position: 0 0

.linkedin_connect
	background-position: 0 -30px

.facebook_connect
	background-position: 0 -60px

.google_plus_connect:hover
	background-position: 0 -90px

.linkedin_connect:hover
	background-position: 0 -120px

.facebook_connect:hover
	background-position: 0 -150px

.linkedin_signup, 
.google_plus_signup, 
.facebook_signup
	display: block
	width: 189px
	height: 30px
	background: transparent url('/images/spt_social_signup.png') 0 0 no-repeat
	text-indent: -9999px
	cursor: pointer

.google_plus_signup
	background-position: 0 0

.linkedin_signup
	background-position: 0 -30px

.facebook_signup
	background-position: 0 -60px

.google_plus_signup:hover
	background-position: 0 -90px

.linkedin_signup:hover
	background-position: 0 -120px

.facebook_signup:hover
	background-position: 0 -150px

.movingforward
	text-indent: -9999px
	display: inline-block
	background: transparent url('/images/logo_movingforward.png') 0 0 no-repeat
	width: 165px
	height: 27px

nav.socials
	height: 30px
	width: 131px

nav.socials li+li
	margin-left: 5px

.socials a
	display: block
	background: transparent url('/images/spt_social.png') 0 0 no-repeat
	width: 29px
	height: 30px
	text-indent: -99999px

.socials a.facebook
	background-position: 0 0

.socials a.linkedin
	background-position: -90px 0

.socials a.twitter
	background-position: -30px 0

.socials a.googleplus
	background-position: -60px 0

.socials a.facebook:hover
	background-position: 0 -30px

.socials a.linkedin:hover
	background-position: -90px -30px

.socials a.twitter:hover
	background-position: -30px -30px

.socials a.googleplus:hover
	background-position: -60px -30px
