footer#page_foot
	position: relative
	border-top: 1px solid #BFBFBF
	box-shadow: 0 1px 0 #FFF inset
	padding-top: 10px
	margin-top: default_margin
	clear:both
	
	#translate
		position: absolute
		left: 0
		top: 16px
		width: 150px
	
	nav#site_map
		position: absolute
		left: 300px
		top: 16px
		width: 350px
		font: 700 14px default_fonts
		li
			padding: 0 5px
		li+li
			border-left: 1px solid #bfbfbf
		a
			color: #6cc2e9
			text-decoration: none
			&:hover
				text-decoration: underline
				
	.disclaimer
		margin-top: 45px
		color: #bfbfbf
		font-size: 10px
		font-smooth: never
		clear: both
		text-align: center
		
	nav.socials
		position: absolute
		right: 0