bdrz()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
bxsh()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments
 
highlight(alpha=1)
	-moz-box-shadow 0 1px 0 rgba(255, 255, 255, alpha) inset
	-webkit-box-shadow 0 1px 0 rgba(255, 255, 255, alpha) inset
	box-shadow 0 1px 0 rgba(255, 255, 255, alpha) inset
	
grad(color1, color2)
	background: color1;
	background: -moz-linear-gradient(top,  color1 0%, color2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,color1), color-stop(100%,color2));
	background: -webkit-linear-gradient(top,  color1 0%,color2 100%);
	background: -o-linear-gradient(top,  color1 0%,color2 100%);
	background: -ms-linear-gradient(top,  color1 0%,color2 100%);
	background: linear-gradient(top,  color1 0%,color2 100%);
	filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr="+color1+", endColorstr="+color2+",GradientType=0 );")
	
	
arrow( size, color, direction )
	width: 0;
	height: 0;	
	if direction = up
		border-left: size solid transparent
		border-right: size solid transparent
		border-bottom: size solid color
	if direction = 'down'
		border-left: size solid transparent;
		border-right: size solid transparent;
		border-top: size solid color;
	if direction = 'right'
		border-top: size solid transparent;
		border-bottom: size solid transparent;
		border-left: size solid color;
	else
		border-top: size solid transparent;
		border-bottom: size solid transparent; 
		border-right: size solid color;

	