.experteering_icon 
	background: transparent url('/images/icn_experteering.png') 0 0 no-repeat
	padding-left: 30px
	padding-top: 2px
	min-height: 24px

.opportunity_icon 
	background: transparent url('/images/icn_opportunity.png') 0 0 no-repeat
	padding-left: 30px
	padding-top: 2px
	min-height: 24px
	
.url_link, .facebook_link, .google_plus_link, .linkedin_link, .twitter_link 
	display: inline-block
	background: url('/images/spt_link_icons.png') 0 0 no-repeat
	padding: 2px 0 0 22px
	height: 18px
	// text-transform: capitalize
	
.url_link
	background-position: 0 0
.facebook_link
	background-position: 0 -25px
.twitter_link 
	background-position: 0 -52px
.google_plus_link
	background-position: 0 -77px
.linkedin_link
	background-position: 0 -103px
	

.title_case
	text-transform: capitalize

.hidden
	display: none

.visuallyhidden
	position: absolute
	clip: rect(1px, 1px, 1px, 1px)

.invisible
	visibility: hidden

.left
	float: left

.right
	float: right

.center
	text-align: center

.clear
	clear: both

.clearfix:after
	content: "."
	display: block
	height: 0
	clear: both
	visibility: hidden

.clearfix
	display: inline-block

* html .clearfix
	height: 1%

.clearfix
	display: block