.experteer-icon
.opportunity-icon
	width: 1em

	i:last-child
		position: relative
		bottom: 6px
		left: 6px
		font-size: 90%
		text-shadow: 0px 1px 3px white
		
.experteer-icon
	i:last-child
		color: blue

.opportunity-icon
	i:last-child
		color: red

.check_icn,
.doc_icn,
.star_icn,
.user_icn,
.heart_icn,
.refresh_icn,
.compose_icn,
.read_icn,
.send_icn,
.foward_icn
	display: inline-block
	width: 16px
	height: 16px
	text-indent: -99999px
	background-image: url('/images/spt_app_icons.png');
	background-repeat: no-repeat;
	// background-color: red



.check_icn
	background-position: 0px  0px

.doc_icn
	background-position: -18px 0px

.star_icn
	background-position: -40px 0px

.user_icn
	background-position: -60px 0px

.heart_icn
	background-position: -80px 0px

.refresh_icn
	background-position: -100px 0px

.compose_icn
	background-position: -120px 0px

.read_icn
	background-position: -140px 0px

.send_icn
	background-position: -160px 0px

.foward_icn
	background-position: -180px 0px

// Gray
.check_icn.gray
	background-position: 0px  -20px

.doc_icn.gray
	background-position: -18px -20px

.star_icn.gray
	background-position: -40px -20px

.user_icn.gray
	background-position: -60px -20px

.heart_icn.gray
	background-position: -80px -20px

.refresh_icn.gray
	background-position: -100px -20px

.compose_icn.gray
	background-position: -120px -20px

.read_icn.gray
	background-position: -140px -20px

.send_icn.gray
	background-position: -160px -20px

.foward_icn.gray
	background-position: -180px -20px




.chunky_btn
	.check_icn,
	.doc_icn,
	.star_icn,
	.user_icn,
	.heart_icn,
	.refresh_icn,
	.compose_icn,
	.read_icn,
	.send_icn,
	.foward_icn
		margin-right: 5px
