.layout_960 
	margin: 0 auto
	width: 960px
	.col1of2.split
		width: 465px
	.col2of2.split
		width: 465px
	.col1of2
		width: 300px
	.col2of2
		width: 630px
	

.layout_630 
	margin: 0 auto
	width: 630px
	.col1of2, .col2of2 
		width: 300px
	
	

.wrapper
	background: transparent url('../images/bg_wrapper.png') 0 0 repeat-x

.col1of2, .col2of2, .col1of3, .col2of3, .col3of3
	float: left
	margin-right: 30px
	width: 300px

.col2of2, .col3of3
	margin: 0;


.col1of2, .col3of3
	margin-right: 30px