
// Pure CSS: A set of small, responsive CSS modules that you can use in every web project.
// we're using just the base (contains Normalize.css) and grids components for now.
// http://purecss.io
@import "http://yui.yahooapis.com/combo?pure/0.1.0/base-min.css&pure/0.1.0/grids-min.css"

@import "vars"
@import "functions"

//HTML STYLES
@import "reset"
@import "typography"
@import "table"
@import "form"

// LAYOUT
@import "layout"
@import "header"
@import "footer"

// PAGE STYLES
@import "pages/content"
@import "pages/home"
@import "pages/login"
@import "pages/profile_details"
@import "pages/register"
@import "pages/finalization"
@import "pages/landing"

//EXTRAS
@import "icons"
@import "partials"
@import "buttons"
@import "plugins"
@import "helpers"
@import "messages"

//EXTRAS
@import "ie"	
@import "media_query"
