
@import "vars"
@import "functions"

//HTML STYLES
@import "reset"
@import "typeography"
@import "table"
@import "form"

// LAYOUT
@import "layout"
@import "header"
@import "footer"

// PAGE STYLES
@import "pages/home"
@import "pages/login"
@import "pages/profile_details"
@import "pages/register"
@import "pages/finalization"
@import "pages/landing"


//EXTRAS
@import "icons"
@import "partials"
@import "buttons"
@import "plugins"
@import "helpers"
@import "messages"

//EXTRAS
@import "ie"	
@import "media_query"
