ul
	&.error, &.warning, &.success
		list-style: none;

label
	&.error
		color: dark_red
		text-shadow: none
		display: table-cell
		border: solid 0px dark_red
		background: none
		padding: 2px
		float: right

h4
	&.error
		text-align: left
		color: dark_red
		text-shadow: none
		display: block
		background: none
		border: solid 0px dark_red
		padding: 2px
		&:before {
			content: url('/images/icn_error.png');
			width: 12px;
			height: 15px;
			overflow:hidden
			margin-right: 5px
		}

textarea
	&.error
		background: none !important

.error, .warning, .success, .info
	// z-index: 9999
	padding: 5px 15px 5px 30px
	border-style: solid
	border-width: 1px
	text-align: center
	bdrz(3px)
	a
		color: white
		font-style: italic
		text-decoration: underline

.error
	background: red url('/images/icn_error.png') 10px 50% no-repeat
	color: dark_red
	border-color: dark_red

.warning
	background: yellow
	color: dark_yellow
	border-color: dark_yellow

.success
	background: green
	color: dark_green
	border-color: dark_green

.info
	background: blue
	color: dark_blue
	border-color: dark_blue

#flash_message
	text-align: center;
	padding: 10px 0
	border: none
	background-image: url('/images/bg_flash_msg.png')
	background-repeat: repeat
	font-weight: bold
	color: #fff

.disclaimer {
	color: gray
	font-family: default_fonts
}