table
  border-collapse: collapse
  border-spacing: 0

table
  font-size: inherit
  font: 100%

th,
td
  padding: 0
  text-align: left
  vertical-align: middle

th
  font-weight: bold

td img
  vertical-align: top

