default_margin = 30px
cozy_padding = 5px
compact_padding = 3px

//Colors
text_color = #404040
light_gray = #cccccc
gray = #bfbfbf
dark_gray = #666
yellow = #f8dd72
dark_yellow = #cba40c
green = #a8e04f
dark_green = #86b23e
red = #e96c6c
dark_red = #ae3a3a
blue = #6cc2e9
dark_blue = #245b76
light_blue = #8FDCFF
mw_blue = #3c82a2

// Font
default_fonts = "Lato", Helvetica, Arial, sans-serif