!!! 5
//if lt IE 7
	html.no-js.ie6.oldie(lang='en')
//if IE 7
	html.no-js.ie7.oldie(lang='en')
//if IE 8
	html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
	html.no-js(lang='en')
//<![end if]
head
	title= title
	link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
	link(href='/stylesheets/style.css', rel='stylesheet')
	link(href='/favicon.ico', rel='icon', type='image/x-icon')
body
	header#page_head
		a.logo(href="/") MovingFoward
		nav!= partial('navigation.jade');
	div#container!= body
footer#page_foot.layout_960!= partial('footer.jade');