<html>
  <p>Thanks for your interest in MovingWorlds.</p>
  <p>We are reviewing your request and will send you an invitation as soon as possible. Stay tuned!</p>
  <p>In the meantime you can follow us on:</p>
  <p>
    <a href="http://www.facebook.com/movingworlds">Facebook</a> |
    <a href="http://twitter.com/experteering">Twitter</a> |
    <a href="http://plus.google.com/u/0/108922624586110967899/posts">Google+</a> |
    <a href="http://www.linkedin.com/company/movingworlds">LinkedIn</a> |
    <a href="http://staging.movingworlds.org/blog">Blog</a>
  </p>
  <p>- MovingWorlds Team</p>
</html>