extends ../../layouts/layout

block append scripts
		script( src='/javascript/plugins/jquery-ui.min.js')
		script( src='/javascript/plugins/jquery.mw_combo.js')
		script( src='/javascript/plugins/jquery.tag-it.js')
		script( src='/javascript/plugins/jquery.mw_modal.js')
		script( src='/javascript/plugins/jquery.mw_fieldcloner.js')
		script( src='/javascript/plugins/jquery.validate.min.js')
		script( src='/javascript/register.js')

block content
	div.layout_960
		nav#steps.clearfix
			ul
				li.step1.on
					span Basic Information
				li.step2.on
					span Company Information
				li.step3.on
					span List Opportunity
				li.step4
					span Review
		section.stack_960
			header
				h2 3. List Opportunity
			div.stack_body.clearfix
				form( action="/register/3/representative", method="post")
					fieldset.col1of2.split
						ul
							li
								label(for="name") We are looking for
									span max 50 characters
								input( type="text", id="name", name="opportunity[name]", tabindex="1", placeholder="What / who you look for" )
							li
								label(for="city") city
								input(type="text", id="city", name="opportunity[city]", tabindex="2")
							li
								label(for="details") Project Details
									span max 500 characters
								textarea(id="details", name="opportunity[details]", placeholder="Describe your opportunity")
							li
								label(for="details") Desired Results
									span max 500 characters
								textarea(id="desired_results", name="opportunity[desired_results]", placeholder="What is the ideal output for this project? Please specify to get a clear idea on the deliverables you are looking for")
							li.datepicker
										label(for="deadline") Apply Before
											span expiration date for applying to this opportunity
										input( type="text", id="deadline", name="opportunity[deadline]", tabindex="4", data-months="1", data-years="2" )
					fieldset.col2of2.split
						ul
							li.half.datepicker
								label(for="start") Start Date
								input( type="text", id="start", name="opportunity[start]", tabindex="2", data-months="1", data-years="2"  )
							li.half.datepicker
								label(for="end") End Date
								input( type="text", id="end", name="opportunity[end]", tabindex="2", data-months="1", data-years="2" )
							li
								label(for="country") Country
								select( id="country", name="opportunity[country]", tabindex="4", class="combobox")
									include ../../includes/countries_combo
								input(type='hidden', id='country_value')
							li.slider_container.clearfix
								label(for="experience").slider_label
									| Years of work experience
									span 0
								div(data-min="0", data-max="30").slider#experience
								input( type="hidden", id="experience", name="opportunity[experience]", value="0", tabindex="3" )
							li
								label Area of support needed
									span max 6
								select(id="area_support_needed", tabindex="9").combobox
									include ../../includes/area_support_combo
								a(style="margin-top: 5px")#add_support_needed.chunky_btn.small.right Add
								div#areas.tagit
							li
								label(for="skills") Favored Skills & Expertise
									span max 3
								input( type="text", id="skills", name="opportunity[skills]", tabindex="2", class="tags", data-max="3")
							li
								label(for="language") Favored Languages
									span max 3
								input( type="text", id="language", name="opportunity[language]", tabindex="2", class="tags", data-max="3")
							li
								label Development impact
								select( id="impact", name="opportunity[impact]", tabindex="15", class="combobox"  )
									include ../../includes/impact_combo.jade
							br
					h2 What we are offering
					fieldset.col1of2.split
						ul
							li
								label Accomodation provided?
								ul
									li
										input( type="radio", id="accomodation[yes]", name="opportunity[accomodation]", value="yes" )
										label(for="accomodation[yes]") Yes
									li
										input( type="radio", id="accomodation[no]", name="opportunity[accomodation]", value="no"  )
										label(for="accomodation[no]") No
									li
										input( type="radio", id="accomodation[define]", name="opportunity[accomodation]", value="define" )
										label(for="accomodation[define]") To be defined
							li#accomodation_options.hidden
								ul
									li
										label(for="opportunity[accomodation_desc]") Describe acommodation
										input( type="text", id="opportunity[accomodation_desc]", name="opportunity[accomodation_desc]")
							li
								label(for="opportunity[benefits]") Additional amenities / benefits?
								textarea(id="opportunity[benefits]", name="opportunity[benefits]")
					fieldset.col2of2.split
						ul
							li
								label Compensation for travel and/or local cost of living?
								ul
									li
										input( type="radio", id="compensation[yes]", name="opportunity[compensation]", value="yes" )
										label(for="compensation[yes]") Yes
									li
										input( type="radio", name="compensation[no]", name="opportunity[compensation]", value="no"  )
										label(for="compensation[no]") No
									li
										input( type="radio", name="compensation[define]", name="opportunity[compensation]", value="define" )
										label(for="compensation[define]") To be defined
							li#accomodation_options.hidden
								ul
									li
										label(for="opportunity[compensation_desc]") Describe compensantion
										input( type="text", id="opportunity[accomodation_desc]", name="opportunity[accomodation_desc]")
							li
								label(for="opportunity[learn]") Learning Opportunity
								textarea(id="opportunity[learn]", name="opportunity[learn]")
					nav#progress
						a(href="/register/4/representative")#skip.big.smooth_btn.gray Skip
						button(type="submit")#next.big.smooth_btn Next
			footer