option(value='Any / all') 
option(value='Private enterprise') Private enterprise
option(value='NGO / Civil society') NGO / Civil society
option(value='Research') Research
option(value='Urban spaces') Urban spaces
option(value='Open-air') Open-air
option(value='Rural') Rural