extends layouts/layout

block append scripts

block content
  section#feature
    div#dotmap
      h1 Find free expert support for any business challenge
      div.marker.experteer_icn(data-pos="350,200")
      div.marker.org_icn(data-pos="200,100")
      div.marker.org_icn(data-pos="400,350")
      div.marker.experteer_icn(data-pos="600,150")
      div.marker.org_icn(data-pos="600,300")
      div.marker.experteer_icn(data-pos="800,320")
      div.marker.org_icn(data-pos="900,80")
  div.wrapper.clearfix
    div.layout_960
      #invite_wrapper
        form#invite_form(action='/invite', method='get')
          label(for='email') Sign-up for an invite to MovingWorlds
          .field_wrap
            input(type='email', required='required', autocapitalize='off', autocorrect='off', placeholder='Email')
            button#submit_btn(type='submit') Invite Me!
          p.form_help.center MovingWorlds is an invite only community. Submit your email and we’ll send you an invite as soon as we can.
        #alert.hidden
      div.col1of2.split
        div#intro_video!= video
      div#welcome.col2of2.split
        h3.experteering_icon What is MovingWorlds?
        p No matter your business challenge, if your company exists to make the world a better place, we can help. Our network of professionals are eager to donate their expertise in exchange for an experience they can be proud of. Get started by signing up for early access, and we’ll invite you as soon as we can. Once invited, post your specific business challenge(s), and we’ll connect you to a professional that wants to donate their time to help your organization build a better world.
        p
          a(href="/faq", title="learn more about experteering").chunky_btn Learn more about MovingWorlds
        div#welcome_bg_gfx
      section#org_cta.clearfix
        div.col1of2.split
          p Are you a person looking to donate your expertise?
        div.col2of2.split
          a(href="/org", title="learn more about experteering").chunky_btn Find opportunities around the world
      nav#mw_steps.clearfix
        ul.step_icons
          li.invite_step
          li.arrow
          li.profile_step
          li.arrow
          li.opportunity_step
          li.arrow
          li.support_step
        ul
          li.invite_step
            div.icon
            hgroup
              h4 Step 1
              h5 Request an invite
            p To ensure community quality, MovingWorlds is invite only. Enter your email and we’ll send you an invite when the time is right.
          li.profile_step
            div.icon
            hgroup
              h4 Step 2
              h5 Create a Profile
            p   Once you are invited, tell us about your organization, your social impact, and your location.
          li.opportunity_step
            div.icon
            hgroup
              h4 Step 3
              h5 Post Opportunities
            p   Add specific business needs and recruit professionals on the profile.  Then, like a dating site, we connect you together and guide you through a hosted conversation to make a plan.
          li.support_step
            div.icon
            hgroup
              h4 Step 4
              h5 Get Support
            p Host a professional and make an impact. Use the MovingWorlds community and library of resources for ongoing support as you change the world.