extends ../default

block generic-content
  h1 Information for Experteers
  :markdown
    If you have professionals skills, there is an organization around the world that needs your expertise to help make the world a better place - we can connect you to it. And since we actively recruit organizations that will over accommodations in exchange for donated expertise, that means you can probably find a place to travel to for free while you Experteer - that is way better than paying thousands of dollars to volunteer placement organizations and voluntourism companies.


    ## What is Experteering?

    “Experteering(c)” means donating your expertise to accelerate social impact

    * * *

    ## Why Go Experteering?

    Professionals from around the world are going Experteering for a variety of reasons, like to:

    - Experience new cultures
    - Develop new skills
    - Have a unique travel Experience
    - Give back

    No matter your reason to travel around the world and volunteer, Experteering provides a life enriching experience that will change your world, while making our world a better place. 

    * * *

    ## 5 Reasons to Sign Up With Moving Worlds For 99:

    1. **It's guaranteed**: We guarantee a match with a host organization that matches your desires - if you can’t find a place to go Experteering, we’ll refund you the full amount
    1. **Skill development**: You get access to training and resources to develop new skills and excel as an Experteer
    1. **Priceless connections**: You can connect with an organization that will allow you the opportunity to get immersed in a new culture while helping build a better world
    1. **Cheap travel**: Most opportunities will cover accommodations in exchange for you donating your expertise.
    1. **Inspiring People**: Meet fellow world-changers and world-changing organizations

    * * *

    ## What to expect on Moving Worlds

    It is important to stress that MovingWorlds is NOT a volunteer placement agency. We are merely a platform linking organizations with experteers - kind of like match.com meets the Peace Corps. Please take time read the Experteering Manifesto, Terms of Use, and the Experteering Guide before committing to any Experteering engagement.

    > As an example, we helped connect Drew to Eco Farms in Panama where he is designing and managing the construction of green research facilities to help explore how sustainable agriculture can help conserve the rainforest.

    As stated in the Terms of Use and Release of Liability, is your responsibility to plan your own Experteering engagement, and in doing so, you assume all risks. To ensure a successful engagement, make sure to take adequate time and effort to plan for your trip. Personal contact is important and it is ESSENTIAL that you spend sufficient time on Skype (or Gchat, phone, etc.) speaking with each other to ensure that:

    1. You can communicate
    1. You are clear on Experteering
    1. You are clear on living and eating arrangements
    1. You are clear on travel arrangements
    1. You understand cultural differences
    1. You complete our full Experteering guide for more questions and topics

    We also advise Experteers not to make fixed travel plans until the hosts have confirmed your stay. Also bear in mind that occasionally unforeseen circumstances may mean that a host or a Experteer has to cancel or postpone a visit, in this case we ask you to let the other party know as soon as possible. The ability to be flexible helps considerably when you are travelling, or indeed dealing with people who are on the move and frequently revising their plans.

    If you are uncomfortable about the offered conditions, then it is up to you to back out and say no. Any arrangement you make is entirely between you and the host. MovingWorlds just posts the listings and facilitates initial contact between the experteer and the host (Please review our terms and conditions and our Release of Liability, which you agreed to when signing up).

    If you feel there has been abuse of trust or misconduct on the behalf of either party should be reported to MovingWorlds.

    * * *

    ## Planning Your Experteering Engagement
    ### Some tips on planning your trip and itinerary

    1. **Start planning early**: Ideally at least 2-3 months before arrival. Also, the more time you have to prepare, the better equipped you will arrive
    1. **Be flexible**: Most countries will provide very different experiences... culture, food, hygiene, and travel to name a few. Do your homework and ask questions before you get there.
    1. **Document your plan**: Complete the entire Experteering guide to make sure you have a safe engagement that truly makes an impact
    1. **Get trained**: Make sure to take our mandated Experteering training.

    * * *

    ## Experteering Safety

    Any interaction we have with other humans depends on trust, whether we are driving along a motorway or leaving all our valued possessions in a hotel room. Travel tests our capacity to trust others to the max. Being a long way from home, we rely on others to show us the ropes and re-direct us when we get lost. In fact it would be impossible to leave our homes unless we had an implicit trust in the rest of the human race…or the majority of them.

    MovingWorlds works on trust. This is equally true for the experteer (arriving into a completely alien environment) as for the hosts, who are inviting a stranger into their home. Hosts need to be welcoming and spend a little time initially making the Experteer feel at home and able to find their way around.

    Experteers should be respectful of the hosts property and personal space. Another country may have customs and lifestyle preferences which are very different to your own, use this as an opportunity to see the world from a new perspective, rather than a reason not to see eye to eye. This mutual trust arrangement generally works very well, as it’s in the interests of both parties for the interaction between you to be successful and reciprocal.

    * * *

    ## Experteering Precautions

    It is important not to take unnecessary risks. Do not give out your personal details, email or phone number, until you feel that the contact seems like the kind of person you would be interested in hearing from. It is also worth investigating your planned destinations beforehand and clue yourself on any recommended precautionary measures of the place in question, whether this be immunization programmes, political trouble-spots, what is considered culturally unacceptable or risky. If you are travelling alone, especially if you are a woman, you may have to give more consideration to how/where/when you travel.