extends ../default

block generic-content
  h1 Terms of Use
  .intro(style="text-align: center")
    :markdown
      Welcome to MovingWorlds’ (www.movingworlds.org) website (hereinafter “Website”).  The following terms and conditions govern your use of this website, whether you are an individual looking for an experteering opportunity, or an organization seeking to post experteering opportunities.  Please take a few minutes to review these terms and conditions, as they describe your rights and responsibilities and what you can expect from MovingWorlds as you use this Website.  Your use of this Website constitutes your agreement and consent to be bound by the terms and conditions contained below.  MovingWorlds reserves the right to change these terms and conditions at any time, without prior notice at its sole discretion.  Consequently, you should check these terms and conditions periodically to be apprised of any changes.

      WHEN YOU ACCESS MOVINGWORLDS’ WEBSITE, YOU AGREE TO THESE TERMS AND CONDITIONS OF USE. IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS OR TO ANY CHANGES TO SAME THAT WE MAY SUBSEQUENTLY MAKE, IMMEDIATELY STOP ACCESSING MOVINGWORLDS’ WEBSITE. FOR PARTICIPATING ORGANIZATIONS, WE MAY CUSTOMIZE THESE TERMS FOR SPECIAL NEEDS.

      MovingWorlds reserves the right to take steps to block access to this Website, including but not limited to, deleting your account, if you are deemed to be in violation of the following terms and conditions.

      As an individual registering with MovingWorlds, you are committing to use your expertise for global good.

      As a representative of an organization, you are committing to using MovingWorlds to find expertise to overcome specific business challenges that you are unable to source locally.

      
      ## Website Use Provisions

      The mission of MovingWorlds is to provide a forum in which non-profit organizations and social enterprises can post volunteer consulting opportunities for professionals seeking to donate their expertise and time towards the furtherance of a social cause. MovingWorlds provides a platform to create awareness for international service and connect talented professionals (hereinafter “Experteers”) with a variety of non-profit organizations and international NGO’s, both large and small (hereinafter “Participating Organizations”). MovingWorlds does not charge any set up costs or monthly fees to Participating Organizations, but does charge a fee to Experteers to sign up for an account on the Website.

      Permission to use content, documents and related graphics delivered from this Website is restricted. You may access, use and copy information and materials available through this Website only for purposes of considering and/or participating in opportunities that are facilitated through MovingWorlds, posted by Participating Organizations; and you may only use with the express consent of the organization/group associated with the content. That information and those materials, including pages and content, may not be copied, distributed, modified, published, or transmitted in any other manner, including for use in creative work or to sell or promote other products or services. Violation of this policy may result in infringement of MovingWorlds’ or other third parties’ intellectual property and contractual rights which are protected by domestic, state and federal law and international law and treaties and could result in substantial civil and criminal penalties.

      When retrieving information from our Website, you are prohibited from (1) using or attempting to use spiders, robots, avatars, intelligent agents, or any other extraction or navigation search except for a normal browser; (2) aggregating, copying or duplicating any of the materials or information available from the Website except for the reasonable amount of materials and information temporarily required for an ordinary single use of the site; or (3) accessing data not intended for legitimate use of the Website for the purposes stated above.

      
      ### By using this site you agree and to the following terms and conditions:

      You agree that:

      1. You have decided to use this site on your own - use is optional and you can close your account at any time.
      1. Any and all information that you submit and share on this Website is accurate and true.
      1. Any and all information that you submit and share on this Website can be used by MovingWorlds to facilitate connections and quality of Experteering engagement.
      1. If you are donating expertise, you have read, understand, and abide (and will continue to abide) by our _Experteering Code of Ethics and Manifesto_.
      1. If you are a Participating Organization hosting an Experteer, then you have read, understand, and abide (and will continue to abide) by the _Host Guarantee of Conditions_.

      As an individual interested in Experteering, you further understand that:

      1. In order to register for the Website and explore Experteering opportunities, you hereby agree to review, sign and submit to MovingWorlds’ _Waiver and Release of Liability_.
      1. You will not hold MovingWorlds liable for connections made on our platform as MovingWorlds does not verify or endorse any people, organizations, opportunities, or listing on our platform.
      1. You will cover and protect your own safety on MovingWorlds, and if you engage in any in-person, virtual, or other Experteering engagement, this includes:
        1. Researching health and safety risks
        1. Obtaining travel insurance
      1. You will manage and complete all necessary paperwork for any Experteering engagement, which may includes, but is not limited to:
        1. Non disclosure agreements (NDAs) if required by the hosting organizations; and
        1. Visas (if required by the receiving country).
      1. You will conduct yourself professionally and lawfully on our platform. In connection with your use of MovingWorlds, you may not and you agree that you will not:
        1. Use MovingWorlds for any commercial or other purposes that are not expressly permitted by these Terms and Conditions;
        1. Copy, store or otherwise access any information contained on MovingWorlds for purposes not expressly permitted by these Terms;
        1. Infringe the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights;
        1. Interfere with or damage MovingWorlds (our website, address, phone, email, online content, social media profiles, and other public content), including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
        1. Use MovingWorlds to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;
        1. Use MovingWorlds in connection with the distribution of unsolicited commercial email ("spam") or advertisements’;
        1. Stalk or harass any other user of our Website or Services or collect or store any personally identifiable information about any other user;
        1. Offer, as a person (aka Expeteer, Professional, person), any skills, time, expertise, or other work that you are not qualified to provide;
        1. Register for more than one MovingWorlds Account or register for an MovingWorlds Account on behalf of an individual other than yourself;
        1. Contact another Experteer or Participating Organization for any purpose other than asking a question related to an Experteering engagement;
        1. Impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;
        1. Use automated scripts to collect information or otherwise interact with MovingWorlds;
        1. Use MovingWorlds to find an Experteering opportunity and then pursue said opportunity independent of MovingWorlds in order to circumvent the obligation to pay any fees related to MovingWorlds’ services;
        1. As a Experteer, submit any information that is not true or that you will not honor; or post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances;
        1. Use, display, mirror or frame MovingWorlds or any individual element within MovingWorlds, MovingWorlds’ name, any MovingWorlds trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without MovingWorlds’ express written consent;
        1. Access, tamper with, or use non-public areas of MovingWorlds, MovingWorlds’ computer systems, or the technical delivery systems of MovingWorlds’ providers;
        1. Attempt to probe, scan, or test the vulnerability of any MovingWorlds system or network or breach any security or authentication measures;
        1. Avoid, bypass, remove, deactivate, impair, descramble, or otherwise circumvent any technological measure implemented by MovingWorlds or any of MovingWorlds’ providers or any other third party (including another user) to protect MovingWorlds;
        1. Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services, Application or Collective Content to send altered, deceptive or false source-identifying information;
        1. Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services, Application or Collective Content; or
        1. Advocate, encourage, or assist any third party in doing any of the foregoing.

      As a Participating Organization (or its legal representative) interested in connecting with and hosting an Experteer(s), you further agree that:

      1. To post opportunities to be matched to an Experteer, you will review, sign and submit to MovingWorlds’ _Waiver and Release of Liability_;
      1. You will not hold MovingWorlds liable for connections made on our platform as MovingWorlds is a third-party entity and does not verify or endorse any people, organizations, opportunities, or listings on our platform;
      1. You will cover and protect your own safety, as well as that of your own organization
      1. You will conduct yourself professionally and lawfully on our platform. In connection with your use of MovingWorlds, you may not and you agree that you will not:
        1. Use MovingWorlds for any commercial or other purposes that are not expressly permitted by these Terms;
        1. Copy, store or otherwise access any information contained on MovingWorlds for purposes not expressly permitted by these Terms;
        1. Infringe the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights;
        1. Interfere with or damage MovingWorlds (our website, address, phone, email, online content, social media profiles, and other public content), including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
        1. Use MovingWorlds to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;
        1. Use MovingWorlds in connection with the distribution of unsolicited commercial email ("spam") or advertisements unrelated to lodging in a private residence;
        1. Offer, as a person or organization (and/or representative of an organization), any skills, time, expertise, services or other work that you are not qualified to provide;
        1. Register for more than one MovingWorlds Account or register for an MovingWorlds Account on behalf of an individual or Organization other than yourself;
        1. Contact another Experteer or Organization for any purpose other than asking a question related to an Experteering engagement;
        1. Impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;
        1. Use automated scripts to collect information or otherwise interact with MovingWorlds;
        1. Submit any information that is not true or that you will not honor; or post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances;
        1. Use, display, mirror or frame MovingWorlds or any individual element within MovingWorlds, MovingWorlds’ name, any MovingWorlds trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without MovingWorlds’ express written consent;
        1. Access, tamper with, or use non-public areas of MovingWorlds, MovingWorlds’ computer systems, or the technical delivery systems of MovingWorlds’ providers;
        1. Attempt to probe, scan, or test the vulnerability of any MovingWorlds system or network or breach any security or authentication measures;
        1. Avoid, bypass, remove, deactivate, impair, descramble, or otherwise circumvent any technological measure implemented by MovingWorlds or any of MovingWorlds’ providers or any other third party (including another user) to protect MovingWorlds;
        1. Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services, Application or Collective Content to send altered, deceptive or false source-identifying information;
        1. Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services, Application or Collective Content; or
        1. Advocate, encourage, or assist any third party in doing any of the foregoing.

      MovingWorlds agrees that:

      1. We will not share your data with people or organizations who are not registered members of the platform.
      1. If you don’t find a match we will refund your membership fee (if claimed within 1 year of sign-up).
      1. We will honor requests to edit or delete information you have added and/or want to change
      1. We will ask for information from users of MovingWorlds to help you make an informed decision
      1. We will provide information, resources, and tools to help facilitate high quality Experteering engagements
      1. We will strive to improve our online community, which includes:
        1. Removing inactive profiles;
        1. Adding and / or removing data fields on profiles;
        1. Replacing images without written consent or other permission if they violate terms of use;
        1. Adding images or other information to profiles if it is incomplete;
        1. Cancelling memberships without refund for any person / any organization that violates these terms of use;
        1. Listening and (when possible) responding to complaints and feedback from the community;
        1. Building partnerships to help improve quality;
        1. Suspending memberships if accounts are not being used by the original subscriber.

      Although every effort has been made to ensure the correctness of information on our website, MovingWorlds hereby disclaims any liability for any loss or damage caused by errors, omissions, misleading information, or any potential travel problem caused by information provided via MovingWorlds and its web properties (including Twitter, Facebook, LinkedIn, and MovingWorlds.org).

      It should be remembered that MovingWorlds only provides the contact information to enable a professional and educational exchange rather like a classified listing and is NOT a travel agency or organized exchange program. All arrangements are entirely between the host and the Experteer.  All Experteers must obtain, on their own initiative, the relevant visa for the country they are travelling to. All questions regarding travel and visas (working, Experteering, or otherwise) should be put to the relevant embassy in the home country before travelling. MovingWorlds does not endorse listed organizations, and Experteers are not agents of MovingWorlds.

      MovingWorlds is committed to ensuring that your privacy is protected. MovingWorlds reserves the right to cancel any membership without refund if the terms and conditions are not met and members do not use the site for which it was created. At our sole discretion we also reserve the right to cancel membership without refund, if the platform is abused in any way. We reserve the right to suspend membership if the account is not being used by the original subscriber or is being used in ways other than allowed in this Terms of Use. Accounts are not transferable. Accounts can also be suspended should joint persons use a single account registered to an individual account.

      MovingWorlds accepts no liability or will be held responsible in any way for work or host related incidents under any circumstances. We highly recommend that all ‘Experteers’ take out an adequate insurance policy and that all hosts also hold insurance to cover any work related incident.

      By using this Website, you acknowledge that you have read, understood and accept the terms and conditions and that they have an equal value to a signed agreement contract.