#content
	margin-top -1 * default_margin
	*
		box-sizing border-box

	header
		#dotmap
			padding default_margin 0 default_margin*2

		h2
			text-transform uppercase

		.content
			padding-left default_margin

	#scrollTop
		position fixed
		right default_margin
		bottom 10px

	// FAQs
	ul.answers > li
		margin-top 15px

	// Partners
	ul.partners .partner
		background white
		border 1px solid gray
		border-radius compact_padding
		padding 10px
		margin 10px
		min-height 272px

		a.logo
			height 101px
			display block
			border-bottom 1px solid gray
			margin-bottom 10px

