#content
	margin-top -1 * default_margin
	*
		box-sizing border-box

	header
		padding-top: default_margin
		padding-bottom: default_margin * 2
		margin-bottom: default_margin
		background: transparent url("../images/gfx_dotmap.png") 0 0 repeat-x
		background-position: 0 -50px	
		box-shadow: 0px 2px 10px rgba(0,0,0,0.6)

		h2
			text-transform uppercase

		.content
			padding-left default_margin

	p
		padding-right 10px

	.section
		margin-top default_margin 

	#scrollTop
		position fixed
		right default_margin
		bottom 10px

	ul.answers > li
		margin-top 15px

	ul.partners .partner
		background white
		border 1px solid gray
		border-radius compact_padding
		padding 10px
		margin 10px
		min-height 272px

		a.logo
			height 100px
			display block
			border-bottom 1px solid gray
			margin-bottom 10px

