#login .layout_630, #invite .layout_630
	padding-top: 20px
#login
	.social_connects ul
		padding: 70px 0 0 55px
		height: 154px

	.social_connects li
		margin-bottom: 10px

	input
		font-size: 20px

#login_area
	padding-bottom: 30px
	border-right: 1px solid #bfbfbf



#invite nav.social_connects
	margin: 0 21px 20px

#invite nav.social_connects ul
	border: none
	padding: 0
	height: auto

nav.social_connects li
	margin: 0

nav.social_connects li+li
	margin-left: 10px

form#invite fieldset
	width: 437px
	margin: 0 auto 80px

fieldset.inline button
	float: left