#login .layout_630, #invite .layout_630
	padding-top: 20px
#login
	.social_connects ul
		border-left: 1px solid #bfbfbf
		padding: 70px 0 0 55px
		height: 154px

	.social_connects li
		margin-bottom: 10px

#login_area
	padding: 30px 0


#invite nav.social_connects
	margin: 0 21px 20px

#invite nav.social_connects ul
	border: none
	padding: 0
	height: auto

nav.social_connects li
	margin: 0

nav.social_connects li+li
	margin-left: 10px

form#invite fieldset
	width: 437px
	margin: 0 auto 80px

form#invite input
	width: 75%
	float: left
	margin-right: 10px

fieldset.inline button
	float: left